<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/aboutusglobals.css" />
    <link rel="stylesheet" href="../css/aboutusstyle.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <p class="text-wrapper">
          ჩვენი სტარტაპის მიზანია შეგვექმნა ინოვაციური პლატფორმა, რომელიც აძლევს შესაძლებლობას ქართველ ფერმერებს და
          მწარმოებლებს მოახდნონ საკუთარი პროდუქტის რეალიზაცია ხელმისაწვდომ ფასად და ამავდროულად მომხმარებელმა შეიძინოს
          ადგილობრივი წარმოების პროდუქცია.
        </p>
        <div class="rectangle"></div>
        <div class="overlap"><div class="text-wrapper-2">ჩვენს შესახებ</div></div>
        <div class="overlap-group"><div class="text-wrapper-3">გუნდის წევრები</div></div>
        <div class="text-wrapper-4">Facebook</div>
        <img class="img" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/rectangle-367.png" />
        <div class="text-wrapper-5">Instagram</div>
        <img class="rectangle-2" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/rectangle-369.png" />
        <div class="text-wrapper-6">Linkedin</div>
        <img class="rectangle-3" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/rectangle-371.png" />
        <div class="text-wrapper-7">Whatsapp</div>
        <div class="vector-wrapper">
          <img class="vector" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/vector-6.svg" />
        </div>
        <div class="text-wrapper-8">Telegram</div>
        <img class="rectangle-4" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/rectangle-375.png" />
        <div class="text-wrapper-9">Snapchat</div>
        <img class="rectangle-5" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/rectangle-377.png" />
        <img class="elements" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/elements.png" />
        <img class="elements-2" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/elements-1.png" />
        <img class="vector-2" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/vector-4.svg" />
        <img class="elements-3" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/elements-2.png" />
        <img class="elements-4" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/elements-3.png" />
        <img class="elements-5" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/elements-4.png" />
        <p class="front-end-UI-UX">
          <span class="span">ცოტნე ხუციშვილი<br /></span> <span class="text-wrapper-10">Front-end, UI-UX</span>
        </p>
        <div class="graphic-design">ანა აბულაშვილი<br />Graphic Design</div>
        <p class="p">
          <span class="span">მარიამ კოვზაძე<br /></span> <span class="text-wrapper-10">Front-end, UI-UX</span>
        </p>
        <img class="rectangle-6" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/rectangle-362.png" />
        <div class="overlap-2">
          <div class="rectangle-7"></div>
          <img class="image" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/image-148.png" />
        </div>
        <div class="overlap-3">
          <div class="rectangle-8"></div>
          <img
            class="element"
            src="https://c.animaapp.com/mfi5pky9FLhdo1/img/533483372-761923959894200-6147298096578803125-n-1.png"
          />
        </div>
        <div class="group">
          <div class="div-wrapper"><div class="text-wrapper-11">გჭირდება დახმარება? დაგვიკავშირდი</div></div>
        </div>
        <div class="v">
          <div class="overlap-4">
            <div class="overlap-5">
              <div class="rectangle-9"></div>
              <div class="text-wrapper-12">VilleGo</div>
              <a class="text-wrapper-13" href="../templates/blog.html">ბლოგი</a>
              <a class="text-wrapper-14" href="../templates/farmers.html">ფერმერები</a>
              <a class="text-wrapper-15" href="../templates/aboutus.html">ჩვენს შესახებ</a>
              <a class="text-wrapper-16" href="aboutus.html">კონტაქტი</a>
              <div class="rectangle-10"></div>
              <img class="vector-3" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/vector-7.svg" />
              <div class="text-wrapper-17">ძებნა</div>
              <a class="text-wrapper-18" href="../templates/map.html">რუკა</a>"></a>
              <a class="image-2" href="../templates/mapfilters.html">
              <img  src="https://c.animaapp.com/mfi5pky9FLhdo1/img/-------.png" width="55px" height="55px" /></a>
              <a class="vector-4" href="../templates/favorites.html">
              <img  src="https://c.animaapp.com/mfi5pky9FLhdo1/img/vector-8.svg" width="22px" height="22px" /></a>
              <a class="vector-5" href="../templates/cart.html">
              <img  src="https://c.animaapp.com/mfi5pky9FLhdo1/img/vector-3.svg" width="22px" height="22px" /></a>
              <a class="vector-6" href="../templates/messages.html">
              <img  src="https://c.animaapp.com/mfi5pky9FLhdo1/img/vector-5.svg" width="22px" height="22px" /></a>
             <a class="plus-circle" href="../templates/addstatement.html">
              <img src="https://c.animaapp.com/mfi5pky9FLhdo1/img/plus-circle---1441-.svg" width="22px" height="22px" /></a>
              <a class="ellipse" href="../templates/personalpage.html">
              <img  src="https://c.animaapp.com/mfi5pky9FLhdo1/img/ellipse-3981.png" width="22px" height="22px" /></a>
            </div>
            <img class="group-2" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/group-1859.png" />
          </div>
        </div>
        <div class="v-2">
          <div class="overlap-6">
            <div class="overlap-7">
              <img class="line" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/line-7.svg" />
              <div class="generic-phone-mock">
                <div class="overlap-group-2">
                  <img class="speaker-camera" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/speaker---camera.png" />
                  <img class="frame" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/frame.png" />
                  <img
                    class="screen-mask-put"
                    src="https://c.animaapp.com/mfi5pky9FLhdo1/img/screen-mask--put-design-here-.png"
                  />
                </div>
              </div>
              <div class="mobile-app-store">
                <img class="microsoft" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/microsoft.svg" />
                <img class="get-it-from" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/get-it-from.svg" />
                <div class="microsoft-logo">
                  <div class="rectangle-11"></div>
                  <div class="rectangle-12"></div>
                  <div class="rectangle-13"></div>
                  <div class="rectangle-14"></div>
                </div>
              </div>
              <div class="mobile-app-store-2">
                <img class="app-store" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/app-store.svg" />
                <img class="download-on-the" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/download-on-the.svg" />
                <img class="apple-logo" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/apple-logo.svg" />
              </div>
              <div class="mobile-app-store-3">
                <img class="google-play" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/google-play.svg" />
                <img class="get-it-on" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/get-it-on.svg" />
                <div class="google-play-logo"></div>
              </div>
              <img class="image-3" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/image-103.png" />
              <div class="ville-go-wrapper">
                <p class="ville-go">
                  <span class="text-wrapper-19">ჩამოტვირთე </span> <span class="text-wrapper-20">VilleGo</span>
                </p>
              </div>
            </div>
            <img class="profile" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/profile.png" />
            <a class="text-wrapper-21" href="../templates/help.html">დახმარება</a>
            <div class="text-wrapper-22">ხშირად დასმული კითხვები</div>
            <div class="text-wrapper-23">ანონიმური უკუკავშირი</div>
            <div class="text-wrapper-24">ინფორმაცია</div>
            <div class="text-wrapper-25">გაყიდვის პირობები</div>
            <div class="text-wrapper-26">წესები და პირობები</div>
            <a class="text-wrapper-27" href="../templates/personalpage.html">მომხმარებელი</a>
            <a class="text-wrapper-28" href="../templates/signup.html">რეგისტრაცია</a>
            <a class="text-wrapper-29" href="../templates/personalpage.html">მომხმარებლის გვერდი</a>
            <p class="ville-go-2">
              <span class="text-wrapper-20">VilleGo</span>
              <span class="text-wrapper-30">&nbsp;</span>
              <span class="text-wrapper-31">ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე!</span>
            </p>
            <div class="group-3">
              <img class="group-4" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/group-234.png" />
              <div class="text-wrapper-32">555 88 88 88</div>
            </div>
            <div class="group-5">
              <div class="text-wrapper-33">მიცკევიჩის N25;</div>
              <img class="group-6" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/group-246.png" />
            </div>
            <div class="group-7">
              <img class="subtract" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/subtract-1.svg" />
              <div class="text-wrapper-34">VilleGoLLC@gmail.com</div>
            </div>
            <div class="text-wrapper-35">კონტაქტი:</div>
          </div>
          <img class="vector-7" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/vector-1.svg" />
          <div class="overlap-8">
            <p class="element-villego-LLC">
              <span class="text-wrapper-36">@ 2025 Villego.LLC</span>
              <span class="text-wrapper-37">&nbsp;</span>
              <span class="text-wrapper-38">ყველა უფლება დაცულია</span>
            </p>
            <div class="text-wrapper-39">საქართველო</div>
          </div>
          <a class="text-wrapper-40" href="../templates/help.html">დახმარების გვერდი</a>
          <a class="text-wrapper-41" href="../templates/aboutus.html">ჩვენს შესახებ</a>
          <div class="text-wrapper-42">დაბრუნების პოლიტიკა</div>
          <div class="text-wrapper-43">კონფიდენციალურობის პოლიტიკა</div>
          <a  class="text-wrapper-44" href="../templates/favorites.html">ფავორიტები</a>
          <a class="text-wrapper-45" href="../templates/cart.html">კალათა</a>
          <img class="vector-8" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/vector-2.svg" />
          <img class="d" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/d.svg" />
          <div class="img-wrapper">
            <img class="vector-9" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/vector.svg" />
          </div>
          <img class="image-4" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/------.png" />
          <img class="image-5" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/----------------.png" />
          <img class="image-6" src="https://c.animaapp.com/mfi5pky9FLhdo1/img/----------.png" />
        </div>
      </div>
    </div>
    <script src="../js/aboutusscript.js"></script>
  </body>
</html>
