<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/addstatementglobals.css" />
    <link rel="stylesheet" href="../css/addstatementsstyle.css" />
     <script src="../js/addstatementscript.js" defer></script>
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <img class="vector" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-20.svg" />
        <div class="overlap">
          <div class="text-wrapper">კიტრის მწნილი</div>
          <p class="p">
            ინგრედიენტები მოცემული 1 ლიტრიანი ქილისთვის.სასურველია კიტრი ცივ წყალში ჩავალბოთ ორიოდე საათით, ასე უფრო
            ხრაშუნა გამოვა.ყველაფერი კარგად გავრეცხოთ. ქილის ძირში ჩავალაგოთ პირშუშხას ფოთოლი, კამა, ნიორი, პილპილი.
            შემდეგ ჩავალაგოთ კიტრები. დავამატოთ მარილი, დაფნა და ძმარი. დავასხათ მდუღარე წყალი, მოვხუფოთ, გადმოვაბრუნოთ
            ქილა თავით ქვემოთ და შევფუთოთ სქელ გადასაფარებელში, სადაც ნელ-ნელა გაცივდება
          </p>
        </div>
        <div class="overlap-group">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <img class="rectangle" src="https://c.animaapp.com/mfi64cykTfkHks/img/rectangle-2345.png" />
        <div class="vector-wrapper">
          <img class="vector-2" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-7.svg" />
        </div>
        <div class="img-wrapper">
          <img class="vector-2" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-7.svg" />
        </div>
        <div class="overlap-2">
          <img class="vector-2" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-7.svg" />
        </div>
        <div class="overlap-3">
          <img class="vector-2" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-7.svg" />
        </div>
        <div class="overlap-4">
          <img class="vector-2" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-7.svg" />
        </div>
        <div class="overlap-5">
          <img class="vector-3" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-7.svg" />
        </div>
        <div class="overlap-6">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-7">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-8">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-9">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-10">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-11">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-12">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-13">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-14">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-15">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-16">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-17">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-18">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-19">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="overlap-20">
          <div class="text-wrapper-2">კატეგორიები:</div>
          <img class="img" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector.svg" />
        </div>
        <div class="view">
          <div class="div-wrapper"><div class="text-wrapper-3">შენახვა</div></div>
          <p class="text-wrapper-4">განცხადება არ გამოქვეყნდება და შეინახება პირად გვერდზე</p>
          <p class="text-wrapper-5">განცხადება გამოქვეყნდება<br />ვებსაიტზე და მომხმარებელი შეძლებს ნახვას</p>
          <p class="text-wrapper-6">განცხადების წერის გაუქმება და მთავარ გვერდზე დაბრუნება</p>
          <div class="overlap-21"><div class="text-wrapper-7">გამოქვეყნება</div></div>
          <div class="overlap-group-2"><div class="text-wrapper-7">გაუქმება</div></div>
          <div class="text-wrapper-8">განცხადების დაწერა თავიდან</div>
          <div class="overlap-22"><div class="text-wrapper-7">დარესეტება</div></div>
        </div>
        <div class="v">
          <div class="overlap-23">
            <div class="overlap-24">
              <div class="rectangle-2"></div>
              <div class="text-wrapper-9">VilleGo</div>
              <a class="text-wrapper-10" href="../templates/blog.html">ბლოგი</a>
              <a class="text-wrapper-11" href="../templates/farmers.html">ფერმერები</a>
              <a class="text-wrapper-12" href="../templates/aboutus.html">ჩვენს შესახებ</a>
              <a class="text-wrapper-13" href="../templates/aboutus.html">კონტაქტი</a>
              <div class="rectangle-3"></div>
              <img class="vector-4" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-24.svg" />
              <div class="text-wrapper-14">ძებნა</div>
              <a class="text-wrapper-15" href="../templates/map.html">რუკა</a>
              <a class="image" href="../templates/mapfilters.html">
              <img  src="https://c.animaapp.com/mfi64cykTfkHks/img/-------.png" width="60px" height="60px" /> </a>
              <a class="vector-5" href="../templates/favorites.html">
              <img src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-22.svg" width="22px" height="22px" /></a>
              <a class="vector-6" href="../templates/cart.html">
              <img  src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-12.svg" width="22px" height="22px" /></a>
              <a class="vector-7" href="../templates/messages.html">
              <img  src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-17.svg" width="22px" height="22px"  /></a>
              <a class="plus-circle" href="../templates/addstatement.html">
              <img  src="https://c.animaapp.com/mfi64cykTfkHks/img/plus-circle---1441-.svg" width="22px" height="22px"  /></a>
              <a class="ellipse" href="../templates/personalpage.html">
              <img class="ellipse" src="https://c.animaapp.com/mfi64cykTfkHks/img/ellipse-3981.png" width="22px" height="22px"  /></a>
            </div>
            <img class="group" src="https://c.animaapp.com/mfi64cykTfkHks/img/group-1859.png" />
          </div>
        </div>
        <div class="v-2">
          <div class="overlap-25">
            <div class="overlap-26">
              <img class="line" src="https://c.animaapp.com/mfi64cykTfkHks/img/line-7.svg" />
              <div class="generic-phone-mock">
                <div class="overlap-group-3">
                  <img class="speaker-camera" src="https://c.animaapp.com/mfi64cykTfkHks/img/speaker---camera.png" />
                  <img class="frame" src="https://c.animaapp.com/mfi64cykTfkHks/img/frame.png" />
                  <img
                    class="screen-mask-put"
                    src="https://c.animaapp.com/mfi64cykTfkHks/img/screen-mask--put-design-here-.png"
                  />
                </div>
              </div>
              <div class="mobile-app-store">
                <img class="microsoft" src="https://c.animaapp.com/mfi64cykTfkHks/img/microsoft.svg" />
                <img class="get-it-from" src="https://c.animaapp.com/mfi64cykTfkHks/img/get-it-from.svg" />
                <div class="microsoft-logo">
                  <div class="rectangle-4"></div>
                  <div class="rectangle-5"></div>
                  <div class="rectangle-6"></div>
                  <div class="rectangle-7"></div>
                </div>
              </div>
              <div class="mobile-app-store-2">
                <img class="app-store" src="https://c.animaapp.com/mfi64cykTfkHks/img/app-store.svg" />
                <img class="download-on-the" src="https://c.animaapp.com/mfi64cykTfkHks/img/download-on-the.svg" />
                <img class="apple-logo" src="https://c.animaapp.com/mfi64cykTfkHks/img/apple-logo.svg" />
              </div>
              <div class="mobile-app-store-3">
                <img class="google-play" src="https://c.animaapp.com/mfi64cykTfkHks/img/google-play.svg" />
                <img class="get-it-on" src="https://c.animaapp.com/mfi64cykTfkHks/img/get-it-on.svg" />
                <div class="google-play-logo"></div>
              </div>
              <img class="image-2" src="https://c.animaapp.com/mfi64cykTfkHks/img/image-103.png" />
              <div class="ville-go-wrapper">
                <p class="ville-go">
                  <span class="span">ჩამოტვირთე </span> <span class="text-wrapper-16">VilleGo</span>
                </p>
              </div>
            </div>
            <img class="profile" src="https://c.animaapp.com/mfi64cykTfkHks/img/profile.png" />
            <a class="text-wrapper-17" href="../templates/help.html">დახმარება</a>
            <a class="text-wrapper-18" href="../templates/help.html">ხშირად დასმული კითხვები</a>
            <a class="text-wrapper-19" href="../templates/">ანონიმური უკუკავშირი</a>
            <a class="text-wrapper-20" href="../templates/help.html">ინფორმაცია</a>
            <a class="text-wrapper-21" href="../templates/">გაყიდვის პირობები</a>
            <a class="text-wrapper-22" href="../templates/">წესები და პირობები</a>
            <a class="text-wrapper-23" href="../templates/personalpage.html">მომხმარებელი</a>
            <a class="text-wrapper-24" href="../templates/signup.html">რეგისტრაცია</a>
            <a class="text-wrapper-25" href="../templates/personalpage.html">მომხმარებლის გვერდი</a>
            <p class="ville-go-2">
              <span class="text-wrapper-16">VilleGo</span>
              <span class="text-wrapper-26">&nbsp;</span>
              <span class="text-wrapper-27">ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე!</span>
            </p>
            <div class="group-2">
              <img class="group-3" src="https://c.animaapp.com/mfi64cykTfkHks/img/group-234.png" />
              <div class="text-wrapper-28">555 88 88 88</div>
            </div>
            <div class="group-4">
              <div class="text-wrapper-29">მიცკევიჩის N25;</div>
              <img class="group-5" src="https://c.animaapp.com/mfi64cykTfkHks/img/group-246.png" />
            </div>
            <div class="group-6">
              <img class="subtract" src="https://c.animaapp.com/mfi64cykTfkHks/img/subtract.svg" />
              <div class="text-wrapper-30">VilleGoLLC@gmail.com</div>
            </div>
            <div class="text-wrapper-31">კონტაქტი:</div>
          </div>
          <img class="vector-8" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-9.svg" />
          <div class="overlap-27">
            <p class="element-villego-LLC">
              <span class="text-wrapper-32">@ 2025 Villego.LLC</span>
              <span class="text-wrapper-33">&nbsp;</span>
              <span class="text-wrapper-34">ყველა უფლება დაცულია</span>
            </p>
            <div class="text-wrapper-35">საქართველო</div>
          </div>
          <a class="text-wrapper-36" href="../templates/help.html" >დახმარების გვერდი</da>
          <a class="text-wrapper-37" href="../templates/aboutus.html" >ჩვენს შესახებ</da>
          <a class="text-wrapper-38" href="../templates/" >დაბრუნების პოლიტიკა</da>
          <a class="text-wrapper-39" href="../templates/" >კონფიდენციალურობის პოლიტიკა</da>
          <a class="text-wrapper-40" href="../templates/favorites.html" >ფავორიტები</da>
          <a class="text-wrapper-41" href="../templates/cart.html" >კალათა</a>
          <img class="vector-9" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-29.svg" />
          <img class="d" src="https://c.animaapp.com/mfi64cykTfkHks/img/d.svg" />
          <div class="group-7">
            <img class="vector-10" src="https://c.animaapp.com/mfi64cykTfkHks/img/vector-18.svg" />
          </div>
          <img class="image-3" src="https://c.animaapp.com/mfi64cykTfkHks/img/------.png" />
          <img class="image-4" src="https://c.animaapp.com/mfi64cykTfkHks/img/----------------.png" />
          <img class="image-5" src="https://c.animaapp.com/mfi64cykTfkHks/img/----------.png" />
        </div>
      </div>
    </div>
  </body>
</html>
