<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>VilleGo - ფერმერიდან მომხმარებლამდე</title>
    <meta name="description" content="VilleGo - ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე! ისწავლეთ ფერმერობის შესახებ და იპოვეთ საუკეთესო პროდუქტები." />
    <link rel="stylesheet" href="../css/blogglobals.css">
    <link rel="stylesheet" href="../css/blogstyle.css" />
    <script src="script.js" defer></script>
  </head>

  <body>
    <div class="screen">
      <div class="div">
        <img class="rectangle" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/rectangle-381.png" />
        <div class="overlap">
          <div class="overlap-group">
            <img class="img" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/rectangle-382.png" />
            <div class="rectangle-2"></div>
            <p class="text-wrapper">როგორ მოვიზიდოთ დაფინანსება ან გრანტი?</p>
          </div>
          <div class="text-wrapper-2">ნახეთ სრულიად</div>
          <p class="element">
            მე ვარ ლალი – ქალი ფერმერი კახეთიდან. პატარა მიწით და ბევრი ოცნებით დავიწყე. თავიდან ყველაფერი ნელა მიდიოდა
            – ხელით ვთესავდი, ვრწყავდი და ვყიდდი ბაზარში, მაგრამ ერთ დღეს მივხვდი, რომ თუ საქმეს გაფართოება
            უნდა&nbsp;&nbsp;სჭირდება დაფინანსება.<br />დღეს უკვე მაქვს პატარა სათბური, წვეთოვანი მორწყვა და თვეში
            მინიმუმ 2000 ლარის შემოსავალი.<br />საქართველოში არის არაერთი სოფლის მხარდაჭერის პროგრამა. მათგან ყველაზე
            ცნობილია:
          </p>
        </div>
        <div class="text-wrapper-3">ნახეთ სრულიად</div>
        <div class="overlap-2">
          <div class="overlap-3">
            <div class="text-wrapper-4">ნახეთ სრულიად</div>
            <p class="p">
              მოკლედ, რომ ვთქვა – შემოსავალი არ მოდის მარტო სარგავიდან. მოდის შრომიდან, დაგეგმვიდან და სწორი
              მენეჯმენტისგან. მაგრამ, დავალაგოთ პრაქტიკული გამოცდილებით:<br />თხილზე გრძელვადიანი ფიქრი ღირს. მე 2
              ჰექტარი მქონდა და მეოთხე წელს უკვე სტაბილური შემოსავალი მოაქვს.
            </p>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/rectangle-384.png" />
          </div>
          <div class="overlap-4">
            <div class="rectangle-4"></div>
            <p class="text-wrapper-5">რა კულტურები არის ყველაზე მომგებიანი საქართველოში?</p>
          </div>
        </div>
        <p class="text-wrapper-6">
          მე ვარ გიორგი – ყოფილი ქალაქელი, ამჟამად კი ბედნიერი ფერმერი კახეთიდან. წლების წინ, როცა ოფისში ვიჯექი და
          ფანჯრიდან მზეს ვუყურებდი, სულ მეფიქრებოდა, როგორი იქნებოდა ცხოვრება მიწასთან ახლოს – ნამდვილი, შრომატევადი,
          მაგრამ ნაყოფიერი. დღეს მინდა გაგიზიაროთ ჩემი გამოცდილება და რამდენიმე რჩევა მათთვის, ვისაც სურს ფერმერობა
          დაიწყოს.
        </p>
        <div class="overlap-5">
          <div class="rectangle-5"></div>
          <div class="text-wrapper-7">როგორ დავიწყოთ ფერმერობა</div>
        </div>
        <div class="group">
          <div class="text-wrapper-8">1</div>
          <div class="text-wrapper-9">2</div>
          <div class="text-wrapper-10">3</div>
          <div class="fill-with-left-arrow">
            <div class="vector-wrapper">
              <img class="vector" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/vector.svg" />
            </div>
          </div>
          <div class="fill-with-right">
            <div class="vector-wrapper">
              <img class="vector-2" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/vector-2.svg" />
            </div>
          </div>
        </div>
        <div class="v">
          <div class="overlap-6">
            <div class="overlap-group-2">
              <div class="rectangle-6"></div>
              <div class="text-wrapper-11">VilleGo</div>
              <div class="text-wrapper-12">ბლოგი</div>
              <div class="text-wrapper-13">ფერმერები</div>
              <div class="text-wrapper-14">ჩვენს შესახებ</div>
              <div class="text-wrapper-15">კონტაქტი</div>
              <div class="rectangle-7"></div>
              <img class="vector-3" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/vector-1.svg" />
              <div class="text-wrapper-16">ძებნა</div>
              <div class="text-wrapper-17">რუკა</div>
              <img class="image" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/-------.png" />
              <img class="vector-4" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/vector-4.svg" />
              <img class="vector-5" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/vector-7.svg" />
              <img class="vector-6" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/vector-6.svg" />
              <img class="plus-circle" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/plus-circle---1441-.svg" />
              <img class="ellipse" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/ellipse-3981.png" />
            </div>
            <img class="group-2" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/group-1859.png" />
          </div>
        </div>
        <div class="v-2">
          <div class="overlap-7">
            <div class="overlap-8">
              <img class="line" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/line-7.svg" />
              <div class="generic-phone-mock">
                <div class="overlap-group-3">
                  <img class="speaker-camera" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/speaker---camera.png" />
                  <img class="frame" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/frame.png" />
                  <img
                    class="screen-mask-put"
                    src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/screen-mask--put-design-here-.png"
                  />
                </div>
              </div>
              <div class="mobile-app-store">
                <img class="microsoft" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/microsoft.svg" />
                <img class="get-it-from" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/get-it-from.svg" />
                <div class="microsoft-logo">
                  <div class="rectangle-8"></div>
                  <div class="rectangle-9"></div>
                  <div class="rectangle-10"></div>
                  <div class="rectangle-11"></div>
                </div>
              </div>
              <div class="mobile-app-store-2">
                <img class="app-store" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/app-store.svg" />
                <img class="download-on-the" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/download-on-the.svg" />
                <img class="apple-logo" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/apple-logo.svg" />
              </div>
              <div class="mobile-app-store-3">
                <img class="google-play" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/google-play.svg" />
                <img class="get-it-on" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/get-it-on.svg" />
                <div class="google-play-logo"></div>
              </div>
              <img class="image-2" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/image-103.png" />
              <div class="ville-go-wrapper">
                <p class="ville-go">
                  <span class="span">ჩამოტვირთე </span> <span class="text-wrapper-18">VilleGo</span>
                </p>
              </div>
            </div>
            <img class="profile" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/profile.png" />
            <div class="text-wrapper-19">დახმარება</div>
            <div class="text-wrapper-20">ხშირად დასმული კითხვები</div>
            <div class="text-wrapper-21">ანონიმური უკუკავშირი</div>
            <div class="text-wrapper-22">ინფორმაცია</div>
            <div class="text-wrapper-23">გაყიდვის პირობები</div>
            <div class="text-wrapper-24">წესები და პირობები</div>
            <div class="text-wrapper-25">მომხმარებელი</div>
            <div class="text-wrapper-26">რეგისტრაცია</div>
            <div class="text-wrapper-27">მომხმარებლის გვერდი</div>
            <p class="ville-go-2">
              <span class="text-wrapper-18">VilleGo</span>
              <span class="text-wrapper-28">&nbsp;</span>
              <span class="text-wrapper-29">ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე!</span>
            </p>
            <div class="group-3">
              <img class="group-4" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/group-234.png" />
              <div class="text-wrapper-30">555 88 88 88</div>
            </div>
            <div class="group-5">
              <div class="text-wrapper-31">მიცკევიჩის N25;</div>
              <img class="group-6" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/group-246.png" />
            </div>
            <div class="group-7">
              <img class="subtract" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/subtract-1.svg" />
              <div class="text-wrapper-32">VilleGoLLC@gmail.com</div>
            </div>
            <div class="text-wrapper-33">კონტაქტი:</div>
          </div>
          <img class="vector-7" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/vector-3.svg" />
          <div class="overlap-9">
            <p class="element-villego-LLC">
              <span class="text-wrapper-34">@ 2025 Villego.LLC</span>
              <span class="text-wrapper-35">&nbsp;</span>
              <span class="text-wrapper-36">ყველა უფლება დაცულია</span>
            </p>
            <div class="text-wrapper-37">საქართველო</div>
          </div>
          <div class="text-wrapper-38">დახმარების გვერდი</div>
          <div class="text-wrapper-39">ჩვენს შესახებ</div>
          <div class="text-wrapper-40">დაბრუნების პოლიტიკა</div>
          <div class="text-wrapper-41">კონფიდენციალურობის პოლიტიკა</div>
          <div class="text-wrapper-42">ფავორიტები</div>
          <div class="text-wrapper-43">კალათა</div>
          <img class="vector-8" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/vector-5.svg" />
          <img class="d" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/d.svg" />
          <div class="img-wrapper">
            <img class="vector-9" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/vector-8.svg" />
          </div>
          <img class="image-3" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/------.png" />
          <img class="image-4" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/----------------.png" />
          <img class="image-5" src="https://c.animaapp.com/mfi6j6lpbYnIeo/img/----------.png" />
        </div>
      </div>
    </div>
     <script src="../js/blogscript.js"></script>
  </body>
</html>
