<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/cartglobals.css" />
    <link rel="stylesheet" href="../css/cartstyle.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap"><img class="text-on-a-path" /></div>
        <div class="overlap-group">
          <div class="text-wrapper">Vegetables</div>
          <div class="rectangle"></div>
          <div class="text-wrapper-2">ჩემი კალათა</div>
        </div>
        <div class="text-wrapper-3">River Fish</div>
        <div class="eggplant">Red cabbage</div>
        <div class="overlap-2">
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <img class="img" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/rectangle-2306.png" />
          <img class="rectangle-4" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/rectangle-2307.png" />
          <p class="p">
            <span class="span">ვაშლატამი<br /></span>
            <span class="text-wrapper-4">ფერმა "რაისი"<br /></span>
            <span class="span"><br /><br /></span>
          </p>
          <p class="div-2">
            <span class="span">მალინა<br /></span> <span class="text-wrapper-4">ფერმა "რაისი"</span>
          </p>
          <img class="group quantity-btn" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/group-1721.png" data-action="decrease" data-target="qty-1" />
          <div class="text-wrapper-5" id="qty-1">1</div>
          <img class="group-2 quantity-btn" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/group-1722.png" data-action="decrease" data-target="qty-2" />
          <div class="text-wrapper-6" id="qty-2">1</div>
          <div class="text-wrapper-7">15 კგ</div>
          <div class="text-wrapper-8">25 კგ</div>
          <div class="text-wrapper-9" data-price="22.5">22,5 ₾</div>
          <div class="text-wrapper-10" data-price="125">125 ₾</div>
          <img class="trash-can remove-item" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/trash-can-4.png" data-item="item-1" />
          <img class="trash-can-2 remove-item" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/trash-can-4.png" data-item="item-2" />
        </div>
        <div class="overlap-3" id="item-3">
          <div class="overlap-4">
            <img class="rectangle-5" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/rectangle-2305.png" />
            <p class="div-3">
              <span class="text-wrapper-11">კარტოფილი <br /></span> <span class="text-wrapper-12">ფერმა "რაისი"</span>
            </p>
          </div>
          <img class="group-3 quantity-btn" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/group-1720.png" data-action="decrease" data-target="qty-3" />
          <div class="text-wrapper-13" id="qty-3">1</div>
          <div class="text-wrapper-14">20 კგ</div>
          <div class="overlap-5">
            <div class="text-wrapper-15" data-price="16">16 ₾</div>
            <img class="trash-can-3 remove-item" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/trash-can-4.png" data-item="item-3" />
          </div>
        </div>
        <div class="overlap-6" id="item-4">
          <img class="rectangle-6" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/rectangle-2311.png" />
          <p class="div-4">
            <span class="span">კიტრი<br /></span> <span class="text-wrapper-4">ფერმა "რაისი"</span>
          </p>
          <img class="group quantity-btn" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/group-1723.png" data-action="decrease" data-target="qty-4" />
          <div class="text-wrapper-5" id="qty-4">1</div>
          <div class="text-wrapper-16">10კგ</div>
          <div class="overlap-7">
            <div class="text-wrapper-17" data-price="8">8 ₾</div>
            <img class="trash-can-3 remove-item" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/trash-can-4.png" data-item="item-4" />
          </div>
        </div>
        <div class="overlap-8" id="item-5">
          <img class="rectangle-7" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/rectangle-2312.png" />
          <p class="div-5">
            <span class="span">პომიდორი<br /></span> <span class="text-wrapper-4">ფერმა "რაისი"</span>
          </p>
          <img class="group-4 quantity-btn" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/group-1724.png" data-action="decrease" data-target="qty-5" />
          <div class="text-wrapper-18" id="qty-5">1</div>
          <div class="text-wrapper-19">10 კგ</div>
          <div class="overlap-9">
            <div class="text-wrapper-17" data-price="15">15 ₾</div>
            <img class="trash-can-3 remove-item" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/trash-can-4.png" data-item="item-5" />
          </div>
        </div>
        <button class="button" id="back-btn"><div class="view-all-products">უკან დაბრუნება</div></button>
        <button class="view-all-products-wrapper" id="refresh-cart"><div class="view-all-products-2">გაანახლე კალათი</div></button>
        <div class="frame">
          <div class="frame-2">
            <div class="coupon-code-wrapper">
              <input type="text" class="coupon-code" placeholder="პრომო კოდი" id="promo-input" />
            </div>
            <button class="div-wrapper" id="apply-promo"><div class="view-all-products-3">პრომო კოდის შემოწმება</div></button>
          </div>
        </div>
        <div class="overlap-10">
          <div class="frame-3">
            <div class="cart-total">ჯამი</div>
            <div class="frame-4">
              <div class="div-6">მიწოდება</div>
              <p class="div-6"><span class="text-wrapper-20">5</span> <span class="text-wrapper-21">₾</span></p>
            </div>
            <div class="frame-5"><div class="div-6">გადასახადი:</div></div>
            <button class="button-2" id="checkout-btn"><div class="view-all-products-3">გადახდაზე გადასვლა</div></button>
            <div class="under-line"></div>
            <div class="under-line-2"></div>
          </div>
          <div class="text-wrapper-22">საფასური</div>
          <p class="element" id="subtotal"><span class="text-wrapper-20">186,5</span> <span class="text-wrapper-21">₾</span></p>
          <p class="element-2" id="total"><span class="text-wrapper-20">191,5</span> <span class="text-wrapper-21">₾</span></p>
        </div>
        <div class="view">
          <div class="overlap-group-2"><div class="text-wrapper-23">უკან დაბრუნება</div></div>
        </div>
        <div class="v">
          <div class="overlap-11">
            <div class="overlap-12">
              <div class="rectangle-8"></div>
              <div class="text-wrapper-24">VilleGo</div>
              <a class="text-wrapper-25" href="../templates/blog.html">ბლოგი</a>
              <a class="text-wrapper-26" href="../templates/farmers.html">ფერმერები</a>
              <a class="text-wrapper-27" href="../templates/aboutus.html">ჩვენს შესახებ</a>
              <a class="text-wrapper-28" href="../templates/aboutus.html">კონტაქტი</a>
              <div class="rectangle-9"></div>
              <img class="vector" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/vector-3.svg" />
              <input type="text" class="search-input" placeholder="ძებნა" id="search-input" />
              <a class="text-wrapper-30" href="../templates/map.html">რუკა</a>
              <a class="image" href="../templates/mapfilters.html">
              <img src="https://c.animaapp.com/mfi86cnp1nfUpE/img/-------.png" width="55px" height="55px"/></a>
              <a class="vector-2" href="../templates/favorites.html">
              <img  src="https://c.animaapp.com/mfi86cnp1nfUpE/img/vector-2.svg" width="22px" height="22px"/></a>
              <a class="vector-3" href="../templates/cart.html">
              <img  src="https://c.animaapp.com/mfi86cnp1nfUpE/img/vector-6.svg" width="22px" height="22px"/></a>
              <a class="vector-4" href="../templates/messages.html">
              <img  src="https://c.animaapp.com/mfi86cnp1nfUpE/img/vector-4.svg" width="22px" height="22px"/></a>
              <a class="plus-circle" href="../templates/addstatement.html">
              <img cla src="https://c.animaapp.com/mfi86cnp1nfUpE/img/plus-circle---1441-.svg" width="22px" height="22px"/></a>
              <a class="ellipse" href="../templates/personalpage.html">
              <img src="https://c.animaapp.com/mfi86cnp1nfUpE/img/ellipse-3981.png" width="22px" height="22px"/></a>
            </div>
            <img class="group-5" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/group-1859.png" />
          </div>
        </div>
        <div class="v-2">
          <div class="overlap-13">
            <div class="overlap-14">
              <img class="line" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/line-7-1.svg" />
              <div class="generic-phone-mock">
                <div class="overlap-group-3">
                  <img class="speaker-camera" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/speaker---camera.png" />
                  <img class="frame-6" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/frame.png" />
                  <img
                    class="screen-mask-put"
                    src="https://c.animaapp.com/mfi86cnp1nfUpE/img/screen-mask--put-design-here-.png"
                  />
                </div>
              </div>
              <div class="mobile-app-store">
                <img class="microsoft" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/microsoft.svg" />
                <img class="get-it-from" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/get-it-from.svg" />
                <div class="microsoft-logo">
                  <div class="rectangle-10"></div>
                  <div class="rectangle-11"></div>
                  <div class="rectangle-12"></div>
                  <div class="rectangle-13"></div>
                </div>
              </div>
              <div class="mobile-app-store-2">
                <img class="app-store" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/app-store.svg" />
                <img class="download-on-the" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/download-on-the.svg" />
                <img class="apple-logo" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/apple-logo.svg" />
              </div>
              <div class="mobile-app-store-3">
                <img class="google-play" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/google-play.svg" />
                <img class="get-it-on" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/get-it-on.svg" />
                <div class="google-play-logo"></div>
              </div>
              <img class="image-2" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/image-103.png" />
              <div class="ville-go-wrapper">
                <p class="ville-go">
                  <span class="text-wrapper-31">ჩამოტვირთე </span> <span class="text-wrapper-32">VilleGo</span>
                </p>
              </div>
            </div>
            <img class="profile" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/profile.png" />
            <a class="text-wrapper-33" href="../templates/help.html">დახმარება<a>
            <a class="text-wrapper-34" href="../templates/">ხშირად დასმული კითხვები</a>
            <a class="text-wrapper-35" href="../templates/">ანონიმური უკუკავშირი</a>
            <a class="text-wrapper-36" href="../templates/">ინფორმაცია</a>
            <a class="text-wrapper-37" href="../templates/">გაყიდვის პირობები</a>
            <a class="text-wrapper-38" href="../templates/">წესები და პირობები</a>
            <a class="text-wrapper-39" href="../templates/personalpage.html">მომხმარებელი</a>
            <a class="text-wrapper-40" href="../templates/signup.html">რეგისტრაცია</a>
            <a class="text-wrapper-41" href="../templates/personalpage.html">მომხმარებლის გვერდი</a>
            <p class="ville-go-2">
              <span class="text-wrapper-32">VilleGo</span>
              <span class="text-wrapper-42">&nbsp;</span>
              <span class="text-wrapper-43">ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე!</span>
            </p>
            <div class="group-6">
              <img class="group-7" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/group-234.png" />
              <div class="text-wrapper-44">555 88 88 88</div>
            </div>
            <div class="group-8">
              <div class="text-wrapper-45">მიცკევიჩის N25;</div>
              <img class="group-9" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/group-246.png" />
            </div>
            <div class="group-10">
              <img class="subtract" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/subtract.svg" />
              <div class="text-wrapper-46">VilleGoLLC@gmail.com</div>
            </div>
            <div class="text-wrapper-47">კონტაქტი:</div>
          </div>
          <img class="vector-5" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/vector-1.svg" />
          <div class="overlap-15">
            <p class="element-villego-LLC">
              <span class="text-wrapper-48">@ 2025 Villego.LLC</span>
              <span class="text-wrapper-49">&nbsp;</span>
              <span class="text-wrapper-50">ყველა უფლება დაცულია</span>
            </p>
            <div class="text-wrapper-51">საქართველო</div>
          </div>
          <a class="text-wrapper-52" href="../templates/help.html">დახმარების გვერდი</a>
          <a class="text-wrapper-53" href="../templates/aboutus.html">ჩვენს შესახებ</a>
          <a class="text-wrapper-54" href="../templates/">დაბრუნების პოლიტიკა</a>
          <a class="text-wrapper-55" href="../templates/">კონფიდენციალურობის პოლიტიკა</a>
          <a class="text-wrapper-56" href="../templates/favorites.html">ფავორიტები</a>
          <a class="text-wrapper-57" href="../templates/cart.html">კალათა</a>
          <img class="vector-6" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/vector.svg" />
          <img class="d" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/d.svg" />
          <div class="vector-wrapper">
            <img class="vector-7" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/vector-5.svg" />
          </div>
          <img class="image-3" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/------.png" />
          <img class="image-4" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/----------------.png" />
          <img class="image-5" src="https://c.animaapp.com/mfi86cnp1nfUpE/img/----------.png" />
        </div>
      </div>
    </div>
    <script src="../js/cartscript.js"></script>
  </body>
</html>
