<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/completemapglobals.css" />
    <link rel="stylesheet" href="../css/completemapstyle.css" />
  </head>
  <body>
    <div class="screen">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="image" src="https://c.animaapp.com/mfi953ezC2KmOl/img/----.png" />
          <img
            class="black-map-with-white"
            src="https://c.animaapp.com/mfi953ezC2KmOl/img/black-map-with-white-contour-1.png"
          />
          <div class="view">
            <div class="overlap-group">
              <div class="text-wrapper">აირჩიე რეგიონი</div>
            </div>
          </div>
          <div class="v">
            <div class="div">
              <div class="overlap-2">
                <div class="rectangle"></div>
                <div class="text-wrapper-2">VilleGo</div>
                <a class="text-wrapper-3 nav-item" href="../templates/blog.html" data-page="blog">ბლოგი</a>
                <a class="text-wrapper-4 nav-item" href="../templates/farmers.html" data-page="farmers">ფერმერები</a>
                <a class="text-wrapper-5 nav-item" href="../templates/aboutus.html" data-page="about">ჩვენს შესახებ</a>
                <a class="text-wrapper-6 nav-item" href="../templates/aboutus.html" data-page="contact">კონტაქტი</a>
                <div class="rectangle-2">
                  <input type="text" class="search-input" placeholder="ძებნა..." />
                </div>
                <img class="vector search-icon" src="https://c.animaapp.com/mfi953ezC2KmOl/img/vector.svg" />
                <a class="text-wrapper-8 nav-item" data-page="map">რუკა</div>
                <a class="img logo" href="../templates/completemap.html">
                <img  src="https://c.animaapp.com/mfi953ezC2KmOl/img/-------.png" width="22px" height="22px" /></a>
                <a class="vector-2 social-icon" href="../templates/favorites.html">
                <img  src="https://c.animaapp.com/mfi953ezC2KmOl/img/vector-3.svg" width="22px" height="22px" /></a>
                <a class="vector-3 social-icon" href="../templates/cart.html">
                <img  src="https://c.animaapp.com/mfi953ezC2KmOl/img/vector-2.svg" width="22px" height="22px" /></a>
                <a class="vector-4 social-icon" href="../templates/messages.html">
                <img  src="https://c.animaapp.com/mfi953ezC2KmOl/img/vector-1.svg" width="22px" height="22px" /></a>
                <a class="plus-circle add-btn" href="../templates/addstatement.html">
                <img src="https://c.animaapp.com/mfi953ezC2KmOl/img/plus-circle---1441-.svg"  width="22px" height="22px"/></a>
                <a class="ellipse profile-btn" href="../templates/personalpage.html">
                <img src="https://c.animaapp.com/mfi953ezC2KmOl/img/ellipse-3981.png"  width="22px" height="22px"/></a>
              </div>
              <img class="group" src="https://c.animaapp.com/mfi953ezC2KmOl/img/group-1859.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/completemapscript.js"></script>
  </body>
</html>
