<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/farmerglobals.css" />
    <link rel="stylesheet" href="../css/farmerstyle.css" />
    <script src="../js/farmerscript.js" defer></script>
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap">
          <div class="text-wrapper">მომხმარებლის<br />ფავორიტები</div>
        </div>
        <img class="rectangle" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/rectangle-2267.png" />
        <div class="overlap-group">
          <img class="img" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/rectangle-2321.png" />
          <div class="fill-with-left-arrow">
            <img class="img-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/icons-arrow-left.svg" />
          </div>
          <div class="fill-with-right">
            <img class="img-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/icons-arrow-right.svg" />
          </div>
        </div>
        <div class="div-wrapper"><div class="text-wrapper-2">ბოსტნეული</div></div>
        <div class="text-wrapper-3">ფერმა “რაისი”</div>
        <div class="overlap-2">
          <div class="rectangle-2"></div>
          <div class="ellipse"></div>
          <div class="ellipse-2"></div>
        </div>
        <div class="overlap-3">
          <div class="text-wrapper-4">ფასი</div>
          <div class="text-wrapper-5">მინ</div>
          <div class="text-wrapper-6">მაქს</div>
          <img class="line" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/line-9.svg" />
          <img class="line-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/line-9.svg" />
        </div>
        <div class="overlap-4">
          <div class="text-wrapper-7">ფასდაკლება</div>
          <img class="line" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/line-9.svg" />
          <img class="vector" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-1.svg" />
        </div>
        <div class="group">
          <div class="overlap-group-2">
            <div class="text-wrapper-8">დალაგება ფასის ზრდით</div>
            <img class="line-3" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/line-9.svg" />
            <img class="arrow" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/arrow-1.svg" />
          </div>
        </div>
        <p class="p">
          მე ვარ გიორგი – ყოფილი ქალაქელი, ამჟამად კი ბედნიერი ფერმერი კახეთიდან. წლების წინ, როცა ოფისში ვიჯექი და
          ფანჯრიდან მზეს ვუყურებდი, სულ მეფიქრებოდა, როგორი იქნებოდა ცხოვრება მიწასთან ახლოს – ნამდვილი, შრომატევადი,
          მაგრამ ნაყოფიერი. დღეს მინდა გაგიზიაროთ ჩემი გამოცდილება და რამდენიმე რჩევა მათთვის, ვისაც სურს ფერმერობა
          დაიწყოს.
        </p>
        <div class="overlap-5">
          <img class="group-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/group-246.png" />
          <div class="text-wrapper-9">კონტაქტი:</div>
          <div class="text-wrapper-10">მიცკევიჩის N25;</div>
          <img class="group-3" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/group-234.png" />
          <div class="text-wrapper-11">555 88 88 88</div>
          <img class="subtract" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/subtract.svg" />
          <div class="text-wrapper-12">farm@gmail.com</div>
        </div>
        <div class="overlap-6">
          <div class="text-wrapper-13">რაოდენობა</div>
          <div class="text-wrapper-14">მინ</div>
          <div class="text-wrapper-15">მაქს</div>
          <div class="text-wrapper-16">კგ</div>
          <img class="line-4" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/line-12.svg" />
          <img class="line-5" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/line-9.svg" />
          <img class="line-6" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/line-9.svg" />
        </div>
        <div class="text-wrapper-17">ფასით გაფილტვრა</div>
        <div class="text-wrapper-18">1ლ-1000ლ</div>
        <div class="text-wrapper-19">1000ლ</div>
        <div class="overlap-7">
          <div class="rectangle-2"></div>
          <div class="ellipse"></div>
          <div class="ellipse-2"></div>
        </div>
        <div class="text-wrapper-20">რაოდენობა</div>
        <div class="text-wrapper-21">1-1000კგ</div>
        <div class="text-wrapper-22">1000კგ</div>
        <div class="overlap-wrapper">
          <div class="overlap-8">
            <div class="text-wrapper-23">ფილტრები</div>
            <div class="apple"><img class="apple-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/apple.png" /></div>
            <div class="text-wrapper-24">ხილი და კენკრა</div>
            <div class="potato">
              <img class="potato-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/potato.png" />
            </div>
            <div class="text-wrapper-25">ბოსტნეული და მწვანილი</div>
            <div class="pork"><img class="pork-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/pork.png" /></div>
            <div class="fish"><img class="fish-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/fish.png" /></div>
            <div class="text-wrapper-26">თევზეული</div>
            <img class="milk-carton" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/milk-carton.png" />
            <div class="text-wrapper-27">რძის პროდუქტები</div>
            <div class="eggs"><img class="eggs-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/eggs.png" /></div>
            <div class="text-wrapper-28">კვერცხი</div>
            <div class="cashew">
              <img class="cashew-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/cashew.png" />
            </div>
            <div class="text-wrapper-29">მარცვლეული და <br />პარკოსნები</div>
            <img class="seed" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/seed.png" />
            <img class="layer" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/layer-2.png" />
            <img class="page" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/page-1.png" />
            <img class="group-4" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/group.png" />
            <div class="overlap-group-3">
              <img class="vector-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-8.svg" />
              <img class="vector-3" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-24.svg" />
              <img class="vector-4" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-9.svg" />
            </div>
            <img class="vector-5" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <img class="vector-6" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <img class="vector-7" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <img class="vector-8" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <img class="vector-9" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <img class="vector-10" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <img class="vector-11" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <img class="vector-12" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <img class="vector-13" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <img class="vector-14" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <img class="vector-15" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <img class="vector-16" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-13.svg" />
            <div class="text-wrapper-30">ბუნებრივი წვენები</div>
            <div class="text-wrapper-31">თაფლი და ფუტკრის <br />პროდუქტები</div>
            <div class="text-wrapper-32">ხორცისა და ფრინველის <br />პროდუქტები</div>
            <div class="text-wrapper-33">ღვინო და ალკოჰოლური <br />სასმელები</div>
            <div class="text-wrapper-34">ყვავილები</div>
            <div class="text-wrapper-35">თესლები და ნერგები</div>
          </div>
        </div>
        <div class="view">
          <div class="overlap-9"><div class="text-wrapper-36">უკან დაბრუნება</div></div>
        </div>
        <div class="group-5">
          <div class="text-wrapper-37">1</div>
          <div class="text-wrapper-38">2</div>
          <div class="text-wrapper-39">3</div>
          <div class="icons-arrow-left-wrapper">
            <div class="vector-wrapper">
              <img class="vector-17" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-28.svg" />
            </div>
          </div>
          <div class="icons-arrow-right-wrapper">
            <div class="vector-wrapper">
              <img class="vector-18" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-37.svg" />
            </div>
          </div>
        </div>
        <div class="overlap-10">
          <div class="img-wrapper">
            <img class="vector-19" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector.svg" />
          </div>
          <div class="overlap-11">
            <img class="vector-20" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-5.svg" />
            <img class="vector-21" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-14.svg" />
          </div>
          <div class="text-wrapper-40">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
          <div class="text-wrapper-41">“რაისი”</div>
          <img class="rectangle-3" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/rectangle-2362.png" />
          <div class="text-wrapper-42">22.0 ლ</div>
          <img class="polygon" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/polygon-1.svg" />
        </div>
        <div class="overlap-12">
          <div class="img-wrapper">
            <img class="vector-19" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector.svg" />
          </div>
          <div class="overlap-11">
            <img class="vector-20" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-5.svg" />
            <img class="vector-21" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-14.svg" />
          </div>
          <div class="text-wrapper-40">ალუჩა 1 კგ</div>
          <div class="text-wrapper-43">“რაისი”</div>
          <img class="rectangle-3" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/rectangle-2577.png" />
          <div class="text-wrapper-42">8.0 ლ</div>
          <img class="polygon" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/polygon-1.svg" />
        </div>
        <div class="overlap-13">
          <div class="img-wrapper">
            <img class="vector-19" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector.svg" />
          </div>
          <div class="overlap-11">
            <img class="vector-20" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-5.svg" />
            <img class="vector-21" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-14.svg" />
          </div>
          <div class="text-wrapper-40">ჟოლო&nbsp;&nbsp;1 კგ</div>
          <div class="text-wrapper-44">“რაისი”</div>
          <img class="rectangle-3" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/rectangle-2362-1.png" />
          <div class="text-wrapper-42">20.0 ლ</div>
          <img class="polygon" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/polygon-1.svg" />
        </div>
        <div class="overlap-14">
          <div class="img-wrapper">
            <img class="vector-19" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector.svg" />
          </div>
          <div class="overlap-11">
            <img class="vector-20" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-5.svg" />
            <img class="vector-21" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-14.svg" />
          </div>
          <div class="text-wrapper-40">მოცვი&nbsp;&nbsp;1 კგ</div>
          <div class="text-wrapper-44">“რაისი”</div>
          <img class="rectangle-3" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/rectangle-2362-2.png" />
          <div class="text-wrapper-42">12.0 ლ</div>
          <img class="polygon" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/polygon-1.svg" />
        </div>
        <div class="overlap-15">
          <div class="img-wrapper">
            <img class="vector-19" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector.svg" />
          </div>
          <div class="overlap-11">
            <img class="vector-20" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-5.svg" />
            <img class="vector-21" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-14.svg" />
          </div>
          <div class="text-wrapper-40">შინდი 1კგ</div>
          <div class="text-wrapper-43">“რაისი”</div>
          <img class="rectangle-3" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/rectangle-2362-3.png" />
          <div class="text-wrapper-42">6.0 ლ</div>
          <img class="polygon" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/polygon-1.svg" />
        </div>
        <div class="overlap-16">
          <div class="img-wrapper">
            <img class="vector-19" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector.svg" />
          </div>
          <div class="overlap-11">
            <img class="vector-20" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-5.svg" />
            <img class="vector-21" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-14.svg" />
          </div>
          <div class="text-wrapper-40">ფიჭა&nbsp;&nbsp;1 კგ</div>
          <div class="text-wrapper-45">“რაისი”</div>
          <img class="rectangle-3" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/rectangle-2362-4.png" />
          <div class="text-wrapper-42">27.0 ლ</div>
          <img class="polygon" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/polygon-1.svg" />
        </div>
        <div class="v">
          <div class="overlap-17">
            <div class="overlap-18">
              <div class="rectangle-4"></div>
              <div class="text-wrapper-46">VilleGo</div>
              <div class="text-wrapper-47">ბლოგი</div>
              <div class="text-wrapper-48">ფერმერები</div>
              <div class="text-wrapper-49">ჩვენს შესახებ</div>
              <div class="text-wrapper-50">კონტაქტი</div>
              <div class="rectangle-5"></div>
              <img class="vector-22" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-34.svg" />
              <div class="text-wrapper-51">ძებნა</div>
              <div class="text-wrapper-52">რუკა</div>
              <img class="image" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/-------.png" />
              <img class="vector-23" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-33.svg" />
              <img class="vector-24" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-35.svg" />
              <img class="vector-25" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-36.svg" />
              <img class="plus-circle" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/plus-circle---1441-.svg" />
              <img class="ellipse-3" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/ellipse-3981.png" />
            </div>
            <img class="group-6" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/group-1859.png" />
          </div>
        </div>
        <div class="v-2">
          <div class="overlap-19">
            <div class="overlap-20">
              <img class="line-7" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/line-7.svg" />
              <div class="generic-phone-mock">
                <div class="overlap-group-4">
                  <img class="speaker-camera" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/speaker---camera.png" />
                  <img class="frame" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/frame.png" />
                  <img
                    class="screen-mask-put"
                    src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/screen-mask--put-design-here-.png"
                  />
                </div>
              </div>
              <div class="mobile-app-store">
                <img class="microsoft" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/microsoft.svg" />
                <img class="get-it-from" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/get-it-from.svg" />
                <div class="microsoft-logo">
                  <div class="rectangle-6"></div>
                  <div class="rectangle-7"></div>
                  <div class="rectangle-8"></div>
                  <div class="rectangle-9"></div>
                </div>
              </div>
              <div class="mobile-app-store-2">
                <img class="app-store" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/app-store.svg" />
                <img class="download-on-the" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/download-on-the.svg" />
                <img class="apple-logo" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/apple-logo.svg" />
              </div>
              <div class="mobile-app-store-3">
                <img class="google-play" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/google-play.svg" />
                <img class="get-it-on" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/get-it-on.svg" />
                <div class="google-play-logo"></div>
              </div>
              <img class="image-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/image-103.png" />
              <div class="ville-go-wrapper">
                <p class="ville-go">
                  <span class="span">ჩამოტვირთე </span> <span class="text-wrapper-53">VilleGo</span>
                </p>
              </div>
            </div>
            <img class="profile" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/profile.png" />
            <a class="text-wrapper-54" href="../templates/">დახმარება</a>
            <a class="text-wrapper-55" href="../templates/">ხშირად დასმული კითხვები</a>
            <a class="text-wrapper-56" href="../templates/">ანონიმური უკუკავშირი</a>
            <a class="text-wrapper-57" href="../templates/">ინფორმაცია</a>
            <a class="text-wrapper-58" href="../templates/">გაყიდვის პირობები</a>
            <a class="text-wrapper-59" href="../templates/">წესები და პირობები</a>
            <a class="text-wrapper-60" href="../templates/">მომხმარებელი</a>
            <a class="text-wrapper-61" href="../templates/">რეგისტრაცია</a>
            <a class="text-wrapper-62" href="../templates/">მომხმარებლის გვერდი</a>
            <p class="ville-go-2
              <span class="text-wrapper-53">VilleGo</span>
              <span class="text-wrapper-63">&nbsp;</span>
              <span class="text-wrapper-64">ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე!</span>
            </p>
            <div class="group-7">
              <img class="group-8" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/group-234-1.png" />
              <div class="text-wrapper-65">555 88 88 88</div>
            </div>
            <div class="group-9">
              <div class="text-wrapper-66">მიცკევიჩის N25;</div>
              <img class="group-10" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/group-246-1.png" />
            </div>
            <div class="group-11">
              <img class="subtract-2" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/subtract.svg" />
              <div class="text-wrapper-67">VilleGoLLC@gmail.com</div>
            </div>
            <div class="text-wrapper-68">კონტაქტი:</div>
          </div>
          <img class="vector-26" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-26.svg" />
          <div class="overlap-21">
            <p class="element-villego-LLC">
              <span class="text-wrapper-69">@ 2025 Villego.LLC</span>
              <span class="text-wrapper-70">&nbsp;</span>
              <span class="text-wrapper-71">ყველა უფლება დაცულია</span>
            </p>
            <div class="text-wrapper-72">საქართველო</div>
          </div>
          <a class="text-wrapper-73" href="../templates/">დახმარების გვერდი</a>
          <a class="text-wrapper-74" href="../templates/">ჩვენს შესახებ</a>
          <a class="text-wrapper-75" href="../templates/">დაბრუნების პოლიტიკა</a>
          <a class="text-wrapper-76" href="../templates/">კონფიდენციალურობის პოლიტიკა</a>
          <a class="text-wrapper-77" href="../templates/">ფავორიტები</a>
          <a class="text-wrapper-78" href="../templates/">კალათა</a>
          <img class="vector-27" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-32.svg" />
          <img class="d" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/d.svg" />
          <div class="group-12">
            <img class="vector-28" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/vector-2.svg" />
          </div>
          <img class="image-3" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/------.png" />
          <img class="image-4" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/----------------.png" />
          <img class="image-5" src="https://c.animaapp.com/mfi79y0gsd5KQQ/img/----------.png" />
        </div>
      </div>
    </div>
  </body>
</html>
