<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/farmersglobals.css" />
    <link rel="stylesheet" href="../css/farmersstyle.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="rectangle"></div>
        <div class="text-wrapper">ფერმერები</div>
        <img class="img" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-2">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-2"></div>
        <div class="text-wrapper-3">ბოსტნეული</div>
        <div class="rectangle-3"></div>
        <div class="text-wrapper-4">ხილი</div>
        <div class="rectangle-4"></div>
        <div class="text-wrapper-5">ღვინო</div>
        <img class="img" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514.png" />
        <div class="text-wrapper-2">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-2"></div>
        <div class="text-wrapper-3">ბოსტნეული</div>
        <div class="rectangle-3"></div>
        <div class="text-wrapper-4">ხილი</div>
        <div class="rectangle-4"></div>
        <div class="text-wrapper-5">ღვინო</div>
        <img class="rectangle-5" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-6">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-6"></div>
        <div class="text-wrapper-7">ბოსტნეული</div>
        <div class="rectangle-7"></div>
        <div class="text-wrapper-8">ხილი</div>
        <div class="rectangle-8"></div>
        <div class="text-wrapper-9">ღვინო</div>
        <img class="rectangle-5" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-1.png" />
        <div class="rectangle-6"></div>
        <div class="text-wrapper-7">ბოსტნეული</div>
        <div class="rectangle-7"></div>
        <div class="text-wrapper-8">ხილი</div>
        <div class="rectangle-8"></div>
        <div class="text-wrapper-9">ღვინო</div>
        <img class="rectangle-9" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-10">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-10"></div>
        <div class="text-wrapper-11">ბოსტნეული</div>
        <div class="rectangle-11"></div>
        <div class="text-wrapper-12">ხილი</div>
        <div class="rectangle-12"></div>
        <div class="text-wrapper-13">ღვინო</div>
        <img class="rectangle-9" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-2.png" />
        <div class="text-wrapper-10">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-10"></div>
        <div class="text-wrapper-11">ბოსტნეული</div>
        <div class="rectangle-11"></div>
        <div class="text-wrapper-12">ხილი</div>
        <div class="rectangle-12"></div>
        <div class="text-wrapper-13">ღვინო</div>
        <img class="rectangle-13" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-14">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-14"></div>
        <div class="text-wrapper-15">ბოსტნეული</div>
        <div class="rectangle-15"></div>
        <div class="text-wrapper-16">ხილი</div>
        <div class="rectangle-16"></div>
        <div class="text-wrapper-17">ღვინო</div>
        <img class="rectangle-13" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-3.png" />
        <div class="text-wrapper-14">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-14"></div>
        <div class="text-wrapper-15">ბოსტნეული</div>
        <div class="rectangle-15"></div>
        <div class="text-wrapper-16">ხილი</div>
        <div class="rectangle-16"></div>
        <div class="text-wrapper-17">ღვინო</div>
        <img class="rectangle-17" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-18">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-18"></div>
        <div class="text-wrapper-19">ბოსტნეული</div>
        <div class="rectangle-19"></div>
        <div class="text-wrapper-20">ხილი</div>
        <div class="rectangle-20"></div>
        <div class="text-wrapper-21">ღვინო</div>
        <img class="rectangle-17" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-4.png" />
        <div class="text-wrapper-18">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-18"></div>
        <div class="text-wrapper-19">ბოსტნეული</div>
        <div class="rectangle-19"></div>
        <div class="text-wrapper-20">ხილი</div>
        <div class="rectangle-20"></div>
        <div class="text-wrapper-21">ღვინო</div>
        <img class="rectangle-21" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-22">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-22"></div>
        <div class="text-wrapper-23">ბოსტნეული</div>
        <div class="rectangle-23"></div>
        <div class="text-wrapper-24">ხილი</div>
        <div class="rectangle-24"></div>
        <div class="text-wrapper-25">ღვინო</div>
        <img class="rectangle-21" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-5.png" />
        <div class="text-wrapper-22">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-22"></div>
        <div class="text-wrapper-23">ბოსტნეული</div>
        <div class="rectangle-23"></div>
        <div class="text-wrapper-24">ხილი</div>
        <div class="rectangle-24"></div>
        <div class="text-wrapper-25">ღვინო</div>
        <img class="rectangle-25" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-26">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-26"></div>
        <div class="text-wrapper-27">ბოსტნეული</div>
        <div class="rectangle-27"></div>
        <div class="text-wrapper-28">ხილი</div>
        <div class="rectangle-28"></div>
        <div class="text-wrapper-29">ღვინო</div>
        <img class="rectangle-25" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-6.png" />
        <div class="text-wrapper-26">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-26"></div>
        <div class="text-wrapper-27">ბოსტნეული</div>
        <div class="rectangle-27"></div>
        <div class="text-wrapper-28">ხილი</div>
        <div class="rectangle-28"></div>
        <div class="text-wrapper-29">ღვინო</div>
        <img class="rectangle-29" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-30">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-30"></div>
        <div class="text-wrapper-31">ბოსტნეული</div>
        <div class="rectangle-31"></div>
        <div class="text-wrapper-32">ხილი</div>
        <div class="rectangle-32"></div>
        <div class="text-wrapper-33">ღვინო</div>
        <img class="rectangle-29" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-7.png" />
        <div class="text-wrapper-30">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-30"></div>
        <div class="text-wrapper-31">ბოსტნეული</div>
        <div class="rectangle-31"></div>
        <div class="text-wrapper-32">ხილი</div>
        <div class="rectangle-32"></div>
        <div class="text-wrapper-33">ღვინო</div>
        <img class="rectangle-33" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-34">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-34"></div>
        <div class="text-wrapper-35">ბოსტნეული</div>
        <div class="rectangle-35"></div>
        <div class="text-wrapper-36">ხილი</div>
        <div class="rectangle-36"></div>
        <div class="text-wrapper-37">ღვინო</div>
        <img class="rectangle-33" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-8.png" />
        <div class="text-wrapper-34">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-34"></div>
        <div class="text-wrapper-35">ბოსტნეული</div>
        <div class="rectangle-35"></div>
        <div class="text-wrapper-36">ხილი</div>
        <div class="rectangle-36"></div>
        <div class="text-wrapper-37">ღვინო</div>
        <img class="rectangle-37" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-38">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-38"></div>
        <div class="text-wrapper-39">ბოსტნეული</div>
        <div class="rectangle-39"></div>
        <div class="text-wrapper-40">ხილი</div>
        <div class="rectangle-40"></div>
        <div class="text-wrapper-41">ღვინო</div>
        <img class="rectangle-37" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-9.png" />
        <div class="text-wrapper-38">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-38"></div>
        <div class="text-wrapper-39">ბოსტნეული</div>
        <div class="rectangle-39"></div>
        <div class="text-wrapper-40">ხილი</div>
        <div class="rectangle-40"></div>
        <div class="text-wrapper-41">ღვინო</div>
        <img class="rectangle-41" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-42">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-42"></div>
        <div class="text-wrapper-43">ბოსტნეული</div>
        <div class="rectangle-43"></div>
        <div class="text-wrapper-44">ხილი</div>
        <div class="rectangle-44"></div>
        <div class="text-wrapper-45">ღვინო</div>
        <img class="rectangle-41" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-10.png" />
        <div class="text-wrapper-42">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-42"></div>
        <div class="text-wrapper-43">ბოსტნეული</div>
        <div class="rectangle-43"></div>
        <div class="text-wrapper-44">ხილი</div>
        <div class="rectangle-44"></div>
        <div class="text-wrapper-45">ღვინო</div>
        <img class="rectangle-45" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-46">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-46"></div>
        <div class="text-wrapper-47">ბოსტნეული</div>
        <div class="rectangle-47"></div>
        <div class="text-wrapper-48">ხილი</div>
        <div class="rectangle-48"></div>
        <div class="text-wrapper-49">ღვინო</div>
        <img class="rectangle-45" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-11.png" />
        <div class="text-wrapper-46">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-46"></div>
        <div class="text-wrapper-47">ბოსტნეული</div>
        <div class="rectangle-47"></div>
        <div class="text-wrapper-48">ხილი</div>
        <div class="rectangle-48"></div>
        <div class="text-wrapper-49">ღვინო</div>
        <img class="rectangle-49" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-50">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-50"></div>
        <div class="text-wrapper-51">ბოსტნეული</div>
        <div class="rectangle-51"></div>
        <div class="text-wrapper-52">ხილი</div>
        <div class="rectangle-52"></div>
        <div class="text-wrapper-53">ღვინო</div>
        <img class="rectangle-49" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-12.png" />
        <div class="text-wrapper-50">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-50"></div>
        <div class="text-wrapper-51">ბოსტნეული</div>
        <div class="rectangle-51"></div>
        <div class="text-wrapper-52">ხილი</div>
        <div class="rectangle-52"></div>
        <div class="text-wrapper-53">ღვინო</div>
        <img class="rectangle-53" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-13.png" />
        <div class="text-wrapper-54">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-54"></div>
        <div class="text-wrapper-55">ბოსტნეული</div>
        <div class="rectangle-55"></div>
        <div class="text-wrapper-56">ხილი</div>
        <div class="rectangle-56"></div>
        <div class="text-wrapper-57">ღვინო</div>
        <div class="text-wrapper-54">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-54"></div>
        <div class="text-wrapper-55">ბოსტნეული</div>
        <div class="rectangle-55"></div>
        <div class="text-wrapper-56">ხილი</div>
        <div class="rectangle-56"></div>
        <div class="text-wrapper-57">ღვინო</div>
        <img class="rectangle-57" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-58">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-58"></div>
        <div class="text-wrapper-59">ბოსტნეული</div>
        <div class="rectangle-59"></div>
        <div class="text-wrapper-60">ხილი</div>
        <div class="rectangle-60"></div>
        <div class="text-wrapper-61">ღვინო</div>
        <img class="rectangle-57" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-13.png" />
        <div class="text-wrapper-58">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-58"></div>
        <div class="text-wrapper-59">ბოსტნეული</div>
        <div class="rectangle-59"></div>
        <div class="text-wrapper-60">ხილი</div>
        <div class="rectangle-60"></div>
        <div class="text-wrapper-61">ღვინო</div>
        <img class="rectangle-61" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-62">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-62"></div>
        <div class="text-wrapper-63">ბოსტნეული</div>
        <div class="rectangle-63"></div>
        <div class="text-wrapper-64">ხილი</div>
        <div class="rectangle-64"></div>
        <div class="text-wrapper-65">ღვინო</div>
        <img class="rectangle-61" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-14.png" />
        <div class="text-wrapper-62">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-62"></div>
        <div class="text-wrapper-63">ბოსტნეული</div>
        <div class="rectangle-63"></div>
        <div class="text-wrapper-64">ხილი</div>
        <div class="rectangle-64"></div>
        <div class="text-wrapper-65">ღვინო</div>
        <img class="rectangle-65" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-66">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-66"></div>
        <div class="text-wrapper-67">ბოსტნეული</div>
        <div class="rectangle-67"></div>
        <div class="text-wrapper-68">ხილი</div>
        <div class="rectangle-68"></div>
        <div class="text-wrapper-69">ღვინო</div>
        <img class="rectangle-65" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-15.png" />
        <div class="text-wrapper-66">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-66"></div>
        <div class="text-wrapper-67">ბოსტნეული</div>
        <div class="rectangle-67"></div>
        <div class="text-wrapper-68">ხილი</div>
        <div class="rectangle-68"></div>
        <div class="text-wrapper-69">ღვინო</div>
        <img class="rectangle-69" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-70">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-70"></div>
        <div class="text-wrapper-71">ბოსტნეული</div>
        <div class="rectangle-71"></div>
        <div class="text-wrapper-72">ხილი</div>
        <div class="rectangle-72"></div>
        <div class="text-wrapper-73">ღვინო</div>
        <img class="rectangle-69" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-16.png" />
        <div class="text-wrapper-70">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-70"></div>
        <div class="text-wrapper-71">ბოსტნეული</div>
        <div class="rectangle-71"></div>
        <div class="text-wrapper-72">ხილი</div>
        <div class="rectangle-72"></div>
        <div class="text-wrapper-73">ღვინო</div>
        <img class="rectangle-73" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-74">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-74"></div>
        <div class="text-wrapper-75">ბოსტნეული</div>
        <div class="rectangle-75"></div>
        <div class="text-wrapper-76">ხილი</div>
        <div class="rectangle-76"></div>
        <div class="text-wrapper-77">ღვინო</div>
        <img class="rectangle-73" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-17.png" />
        <div class="text-wrapper-74">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-74"></div>
        <div class="text-wrapper-75">ბოსტნეული</div>
        <div class="rectangle-75"></div>
        <div class="text-wrapper-76">ხილი</div>
        <div class="rectangle-76"></div>
        <div class="text-wrapper-77">ღვინო</div>
        <img class="rectangle-77" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-78">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-78"></div>
        <div class="text-wrapper-79">ბოსტნეული</div>
        <div class="rectangle-79"></div>
        <div class="text-wrapper-80">ხილი</div>
        <div class="rectangle-80"></div>
        <div class="text-wrapper-81">ღვინო</div>
        <img class="rectangle-77" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-18.png" />
        <div class="text-wrapper-78">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-78"></div>
        <div class="text-wrapper-79">ბოსტნეული</div>
        <div class="rectangle-79"></div>
        <div class="text-wrapper-80">ხილი</div>
        <div class="rectangle-80"></div>
        <div class="text-wrapper-81">ღვინო</div>
        <img class="rectangle-81" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-82">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-82"></div>
        <div class="text-wrapper-83">ბოსტნეული</div>
        <div class="rectangle-83"></div>
        <div class="text-wrapper-84">ხილი</div>
        <div class="rectangle-84"></div>
        <div class="text-wrapper-85">ღვინო</div>
        <img class="rectangle-81" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-19.png" />
        <div class="text-wrapper-82">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-82"></div>
        <div class="text-wrapper-83">ბოსტნეული</div>
        <div class="rectangle-83"></div>
        <div class="text-wrapper-84">ხილი</div>
        <div class="rectangle-84"></div>
        <div class="text-wrapper-85">ღვინო</div>
        <img class="rectangle-85" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-86">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-86"></div>
        <div class="text-wrapper-87">ბოსტნეული</div>
        <div class="rectangle-87"></div>
        <div class="text-wrapper-88">ხილი</div>
        <div class="rectangle-88"></div>
        <div class="text-wrapper-89">ღვინო</div>
        <img class="rectangle-85" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-20.png" />
        <div class="text-wrapper-86">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-86"></div>
        <div class="text-wrapper-87">ბოსტნეული</div>
        <div class="rectangle-87"></div>
        <div class="text-wrapper-88">ხილი</div>
        <div class="rectangle-88"></div>
        <div class="text-wrapper-89">ღვინო</div>
        <img class="rectangle-89" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-90">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-90"></div>
        <div class="text-wrapper-91">ბოსტნეული</div>
        <div class="rectangle-91"></div>
        <div class="text-wrapper-92">ხილი</div>
        <div class="rectangle-92"></div>
        <div class="text-wrapper-93">ღვინო</div>
        <img class="rectangle-89" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-21.png" />
        <div class="text-wrapper-90">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-90"></div>
        <div class="text-wrapper-91">ბოსტნეული</div>
        <div class="rectangle-91"></div>
        <div class="text-wrapper-92">ხილი</div>
        <div class="rectangle-92"></div>
        <div class="text-wrapper-93">ღვინო</div>
        <img class="rectangle-93" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2510-23.png" />
        <div class="text-wrapper-94">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-94"></div>
        <div class="text-wrapper-95">ბოსტნეული</div>
        <div class="rectangle-95"></div>
        <div class="text-wrapper-96">ხილი</div>
        <div class="rectangle-96"></div>
        <div class="text-wrapper-97">ღვინო</div>
        <img class="rectangle-93" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2514-22.png" />
        <div class="text-wrapper-94">რანჩო ვარიანში<br />მებაღე, მევენახე<br />ვარიანი</div>
        <div class="rectangle-94"></div>
        <div class="text-wrapper-95">ბოსტნეული</div>
        <div class="rectangle-95"></div>
        <div class="text-wrapper-96">ხილი</div>
        <div class="rectangle-96"></div>
        <div class="text-wrapper-97">ღვინო</div>
        <div class="group">
          <div class="overlap-group">
            <div class="text-wrapper-98">ფილტრები</div>
            <div class="apple"><img class="apple-2" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/apple.png" /></div>
            <div class="text-wrapper-99">ხილი და კენკრა</div>
            <div class="potato">
              <img class="potato-2" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/potato.png" />
            </div>
            <div class="text-wrapper-100">ბოსტნეული და მწვანილი</div>
            <div class="pork"><img class="pork-2" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/pork.png" /></div>
            <div class="fish"><img class="fish-2" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/fish.png" /></div>
            <div class="text-wrapper-101">თევზეული</div>
            <img class="milk-carton" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/milk-carton.png" />
            <div class="text-wrapper-102">რძის პროდუქტები</div>
            <div class="eggs"><img class="eggs-2" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/eggs.png" /></div>
            <div class="text-wrapper-103">კვერცხი</div>
            <div class="cashew">
              <img class="cashew-2" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/cashew.png" />
            </div>
            <div class="text-wrapper-104">მარცვლეული და <br />პარკოსნები</div>
            <img class="seed" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/seed.png" />
            <img class="layer" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/layer-2.png" />
            <img class="page" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/page-1.png" />
            <img class="group-2" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/group.png" />
            <div class="overlap">
              <img class="vector" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector.svg" />
              <img class="vector-2" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-18.svg" />
              <img class="vector-3" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-10.svg" />
            </div>
            <img class="vector-4" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <img class="vector-5" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <img class="vector-6" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <img class="vector-7" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <img class="vector-8" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <img class="vector-9" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <img class="vector-10" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <img class="vector-11" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <img class="vector-12" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <img class="vector-13" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <img class="vector-14" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <img class="vector-15" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-1.svg" />
            <div class="text-wrapper-105">ბუნებრივი წვენები</div>
            <div class="text-wrapper-106">თაფლი და ფუტკრის <br />პროდუქტები</div>
            <div class="text-wrapper-107">ხორცისა და ფრინველის <br />პროდუქტები</div>
            <div class="text-wrapper-108">ღვინო და ალკოჰოლური <br />სასმელები</div>
            <div class="text-wrapper-109">ყვავილები</div>
            <div class="text-wrapper-110">თესლები და ნერგები</div>
          </div>
        </div>
        <div class="view">
          <div class="div-wrapper"><div class="text-wrapper-111">უკან დაბრუნება</div></div>
        </div>
        <img class="rectangle-97" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2496.png" />
        <img class="rectangle-98" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2518.png" />
        <img class="rectangle-99" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2508.png" />
        <img class="rectangle-100" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/rectangle-2509.png" />
        <div class="group-3">
          <div class="text-wrapper-112">1</div>
          <div class="text-wrapper-113">2</div>
          <div class="text-wrapper-114">3</div>
          <div class="fill-with-left-arrow">
            <div class="vector-wrapper">
              <img class="vector-16" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-16.svg" />
            </div>
          </div>
          <div class="fill-with-right">
            <div class="vector-wrapper">
              <img class="vector-17" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-15.svg" />
            </div>
          </div>
        </div>
        <div class="v">
          <div class="overlap-2">
            <div class="overlap-3">
              <div class="rectangle-101"></div>
              <div class="text-wrapper-115">VilleGo</div>
              <div class="text-wrapper-116">ბლოგი</div>
              <div class="text-wrapper-117">ფერმერები</div>
              <div class="text-wrapper-118">ჩვენს შესახებ</div>
              <div class="text-wrapper-119">კონტაქტი</div>
              <div class="rectangle-102"></div>
              <img class="vector-18" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-13.svg" />
              <div class="text-wrapper-120">ძებნა</div>
              <div class="text-wrapper-121">რუკა</div>
              <img class="image" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/-------.png" />
              <img class="vector-19" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-14.svg" />
              <img class="vector-20" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-12.svg" />
              <img class="vector-21" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-11.svg" />
              <img class="plus-circle" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/plus-circle---1441-.svg" />
              <img class="ellipse" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/ellipse-3981.png" />
            </div>
            <img class="group-4" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/group-1859.png" />
          </div>
        </div>
        <div class="v-2">
          <div class="overlap-4">
            <div class="overlap-5">
              <img class="line" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/line-7.svg" />
              <div class="generic-phone-mock">
                <div class="overlap-group-2">
                  <img class="speaker-camera" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/speaker---camera.png" />
                  <img class="frame" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/frame.png" />
                  <img
                    class="screen-mask-put"
                    src="https://c.animaapp.com/mfi6yug0oAVKRR/img/screen-mask--put-design-here-.png"
                  />
                </div>
              </div>
              <div class="mobile-app-store">
                <img class="microsoft" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/microsoft.svg" />
                <img class="get-it-from" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/get-it-from.svg" />
                <div class="microsoft-logo">
                  <div class="rectangle-103"></div>
                  <div class="rectangle-104"></div>
                  <div class="rectangle-105"></div>
                  <div class="rectangle-106"></div>
                </div>
              </div>
              <div class="mobile-app-store-2">
                <img class="app-store" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/app-store.svg" />
                <img class="download-on-the" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/download-on-the.svg" />
                <img class="apple-logo" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/apple-logo.svg" />
              </div>
              <div class="mobile-app-store-3">
                <img class="google-play" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/google-play.svg" />
                <img class="get-it-on" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/get-it-on.svg" />
                <div class="google-play-logo"></div>
              </div>
              <img class="image-2" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/image-103.png" />
              <div class="ville-go-wrapper">
                <p class="ville-go">
                  <span class="span">ჩამოტვირთე </span> <span class="text-wrapper-122">VilleGo</span>
                </p>
              </div>
            </div>
            <img class="profile" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/profile.png" />
            <div class="text-wrapper-123">დახმარება</div>
            <div class="text-wrapper-124">ხშირად დასმული კითხვები</div>
            <div class="text-wrapper-125">ანონიმური უკუკავშირი</div>
            <div class="text-wrapper-126">ინფორმაცია</div>
            <div class="text-wrapper-127">გაყიდვის პირობები</div>
            <div class="text-wrapper-128">წესები და პირობები</div>
            <div class="text-wrapper-129">მომხმარებელი</div>
            <div class="text-wrapper-130">რეგისტრაცია</div>
            <div class="text-wrapper-131">მომხმარებლის გვერდი</div>
            <p class="p">
              <span class="text-wrapper-122">VilleGo</span>
              <span class="text-wrapper-132">&nbsp;</span>
              <span class="text-wrapper-133">ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე!</span>
            </p>
            <div class="group-5">
              <img class="group-6" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/group-234.png" />
              <div class="text-wrapper-134">555 88 88 88</div>
            </div>
            <div class="group-7">
              <div class="text-wrapper-135">მიცკევიჩის N25;</div>
              <img class="group-8" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/group-246.png" />
            </div>
            <div class="group-9">
              <img class="subtract" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/subtract.svg" />
              <div class="text-wrapper-136">VilleGoLLC@gmail.com</div>
            </div>
            <div class="text-wrapper-137">კონტაქტი:</div>
          </div>
          <img class="vector-22" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-3.svg" />
          <div class="overlap-6">
            <p class="element-villego-LLC">
              <span class="text-wrapper-138">@ 2025 Villego.LLC</span>
              <span class="text-wrapper-139">&nbsp;</span>
              <span class="text-wrapper-140">ყველა უფლება დაცულია</span>
            </p>
            <div class="text-wrapper-141">საქართველო</div>
          </div>
          <div class="text-wrapper-142">დახმარების გვერდი</div>
          <div class="text-wrapper-143">ჩვენს შესახებ</div>
          <div class="text-wrapper-144">დაბრუნების პოლიტიკა</div>
          <div class="text-wrapper-145">კონფიდენციალურობის პოლიტიკა</div>
          <div class="text-wrapper-146">ფავორიტები</div>
          <div class="text-wrapper-147">კალათა</div>
          <img class="vector-23" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-8.svg" />
          <img class="d" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/d.svg" />
          <div class="img-wrapper">
            <img class="vector-24" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/vector-2.svg" />
          </div>
          <img class="image-3" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/------.png" />
          <img class="image-4" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/----------------.png" />
          <img class="image-5" src="https://c.animaapp.com/mfi6yug0oAVKRR/img/----------.png" />
        </div>
      </div>
    </div>
    <script src="../js/farmersscript.js"></script>
  </body>
</html>
