<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/fruitcaategoryglobals.css" />
    <link rel="stylesheet" href="../css/fruitcategorystyle.css" />
  </head>
  <body>
    <div class="screen">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="image" src="https://c.animaapp.com/mfiam9rwqDhf7C/img/---------.png" />
          <div class="gradienti"></div>
          <div class="view">
            <div class="overlap-group"><div class="text-wrapper">უკან დაბრუნება</div></div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group"><div class="div">ხილი</div></div>
          </div>
          <div class="group">
            <div class="div-wrapper"><div class="text-wrapper-2">ციტრუსები</div></div>
          </div>
          <div class="group-2">
            <div class="overlap-2"><div class="text-wrapper-3">კენკრა</div></div>
          </div>
          <div class="group-3">
            <div class="overlap-3"><div class="text-wrapper-4">ვაშლისებრი</div></div>
          </div>
          <div class="group-4">
            <div class="overlap-4"><div class="text-wrapper-5">ბირთვიანი</div></div>
          </div>
          <div class="group-5">
            <div class="overlap-5"><div class="text-wrapper-6">სეზონური</div></div>
          </div>
          <div class="group-6">
            <div class="overlap-6"><div class="text-wrapper-7">ტროპიკული</div></div>
          </div>
          <div class="v">
            <div class="overlap-7">
              <div class="overlap-8">
                <div class="rectangle"></div>
                <div class="text-wrapper-8">VilleGo</div>
                <div class="text-wrapper-9">ბლოგი</div>
                <div class="text-wrapper-10">ფერმერები</div>
                <div class="text-wrapper-11">ჩვენს შესახებ</div>
                <div class="text-wrapper-12">კონტაქტი</div>
                <div class="rectangle-2"></div>
                <img class="vector" src="https://c.animaapp.com/mfiam9rwqDhf7C/img/vector.svg" />
                <div class="text-wrapper-13">ძებნა</div>
                <div class="text-wrapper-14">რუკა</div>
                <img class="img" src="https://c.animaapp.com/mfiam9rwqDhf7C/img/-------.png" />
                <img class="vector-2" src="https://c.animaapp.com/mfiam9rwqDhf7C/img/vector-1.svg" />
                <img class="vector-3" src="https://c.animaapp.com/mfiam9rwqDhf7C/img/vector-2.svg" />
                <img class="vector-4" src="https://c.animaapp.com/mfiam9rwqDhf7C/img/vector-3.svg" />
                <img class="plus-circle" src="https://c.animaapp.com/mfiam9rwqDhf7C/img/plus-circle---1441-.svg" />
                <img class="ellipse" src="https://c.animaapp.com/mfiam9rwqDhf7C/img/ellipse-3981.png" />
              </div>
              <img class="group-7" src="https://c.animaapp.com/mfiam9rwqDhf7C/img/group-1859.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/fruitcategoryscript.js"></script>
  </body>
</html>
