<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/honeyglobals.css" />
    <link rel="stylesheet" href="../css/honeystyle.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <img class="vector" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector.svg" />
        <div class="overlap">
          <div class="overlap-group">
            <div class="text-wrapper">1</div>
            <div class="group">
              <img class="polygon" src="https://c.animaapp.com/mfiag7em2rpOne/img/polygon-3.svg" />
              <img class="img" src="https://c.animaapp.com/mfiag7em2rpOne/img/polygon-4.svg" />
            </div>
          </div>
          <img class="vector-2" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-2.svg" />
          <div class="text-wrapper-2">კალათაში დამატება</div>
        </div>
        <div class="rectangle-wrapper">
          <img class="rectangle" src="https://c.animaapp.com/mfiag7em2rpOne/img/rectangle-2362.png" />
        </div>
        <div class="vector-wrapper">
          <img class="vector-3" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-1.svg" />
        </div>
        <div class="text-wrapper-3">22.0 ლ</div>
        <div class="text-wrapper-4">5.0</div>
        <div class="text-wrapper-5">ცაცხვის თაფლი 1კგ</div>
        <div class="text-wrapper-6">გამოხმაურებები:</div>
        <div class="text-wrapper-7">თაფლი</div>
        <img class="polygon-2" src="https://c.animaapp.com/mfiag7em2rpOne/img/polygon-1.svg" />
        <div class="text-wrapper-8">მთავარი</div>
        <div class="text-wrapper-9">თაფლი</div>
        <img class="polygon-3" src="https://c.animaapp.com/mfiag7em2rpOne/img/polygon-1.svg" />
        <p class="element">
          <span class="span"> შემადგენლობა:<br /></span>
          <span class="text-wrapper-10"
            ><br />საბოლოოდ თაფლში რჩება 18-22% წყალი, მარტივი შაქრები, მარილები, ვიტამინები, არომატული და მღებავი
            ნივთიერებები და სხვა, რომელთა შემცველობაზეც არის დამოკიდებული თაფლის ფიზიკური და ქიმიური თვისებები.</span>
        </p>
        <div class="overlap-2">
          <div class="text-wrapper-11">მსგავსი პროდუქცია</div>
          <div class="rectangle-2"></div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-3">
            <div class="overlap-group-wrapper">
              <div class="overlap-group-2">
                <div class="div-2">
                  <img class="vector-4" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-12.svg" />
                </div>
                <div class="div-3">
                  <img class="vector-5" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-5.svg" />
                  <img class="vector-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-14.svg" />
                </div>
                <div class="element-2">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
                <div class="text-wrapper-12">გულა</div>
                <div class="text-wrapper-13">თაფლი</div>
                <img class="rectangle-3" src="https://c.animaapp.com/mfiag7em2rpOne/img/rectangle-2362-2.png" />
                <div class="text-wrapper-14">20.0 ლ</div>
                <img class="polygon-4" src="https://c.animaapp.com/mfiag7em2rpOne/img/polygon-1.svg" />
              </div>
            </div>
            <div class="rectangle-4"></div>
            <div class="div-2"></div>
            <div class="div-3"></div>
            <div class="element-3">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-15">გულა</div>
            <div class="text-wrapper-16">თაფლი</div>
            <img class="rectangle-5" src="https://c.animaapp.com/mfiag7em2rpOne/img/rectangle-2362-2.png" />
            <div class="text-wrapper-17">22.0 ლ</div>
            <img class="vector-7" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-12.svg" />
            <img class="vector-8" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-5.svg" />
            <img class="polygon-4" src="https://c.animaapp.com/mfiag7em2rpOne/img/polygon-1.svg" />
            <img class="vector-9" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-14.svg" />
          </div>
        </div>
        <div class="div-wrapper">
          <div class="overlap-group-2">
            <div class="div-2">
              <img class="vector-4" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-12.svg" />
            </div>
            <div class="div-3">
              <img class="vector-5" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-5.svg" />
              <img class="vector-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-14.svg" />
            </div>
            <div class="overlap-4">
              <div class="overlap-group-3">
                <div class="text-wrapper-18">გამომშრალი ფუტკარი</div>
                <div class="text-wrapper-19">თაფლი</div>
                <img class="rectangle-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/rectangle-2593.png" />
              </div>
              <img class="polygon-5" src="https://c.animaapp.com/mfiag7em2rpOne/img/polygon-1.svg" />
            </div>
            <div class="text-wrapper-15">გულა</div>
            <div class="text-wrapper-17">22.0 ლ</div>
          </div>
        </div>
        <div class="overlap-5">
          <div class="text-wrapper-20">განათავსე <br />თქვენი<br />რეკლამა <br />აქ</div>
        </div>
        <img class="vector-10" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-3.svg" />
        <div class="group-2">
          <div class="overlap-group-2">
            <div class="div-2">
              <img class="vector-4" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-12.svg" />
            </div>
            <div class="div-3">
              <img class="vector-5" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-5.svg" />
              <img class="vector-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-14.svg" />
            </div>
            <div class="overlap-4">
              <div class="overlap-group-3">
                <div class="text-wrapper-18">ფუტრკრის რძე 8გრ-ნი</div>
                <div class="text-wrapper-19">თაფლი</div>
                <img class="rectangle-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/rectangle-2595.png" />
              </div>
              <img class="polygon-5" src="https://c.animaapp.com/mfiag7em2rpOne/img/polygon-1.svg" />
            </div>
            <div class="text-wrapper-15">გულა</div>
            <div class="text-wrapper-17">20.0 ლ</div>
          </div>
        </div>
        <div class="group-3">
          <div class="overlap-group-2">
            <div class="img-wrapper">
              <img class="vector-4" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-12.svg" />
            </div>
            <div class="overlap-6">
              <img class="vector-5" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-5.svg" />
              <img class="vector-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-14.svg" />
            </div>
            <div class="overlap-4">
              <div class="overlap-group-3">
                <div class="text-wrapper-21">ყვავილის მტვერი 100გრ</div>
                <div class="text-wrapper-19">თაფლი</div>
                <img class="rectangle-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/rectangle-2596.png" />
              </div>
              <img class="polygon-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/polygon-1.svg" />
            </div>
            <div class="text-wrapper-15">გულა</div>
            <div class="text-wrapper-22">15.0 ლ</div>
          </div>
        </div>
        <div class="group-4">
          <div class="overlap-group-2">
            <div class="div-2">
              <img class="vector-4" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-12.svg" />
            </div>
            <div class="div-3">
              <img class="vector-5" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-5.svg" />
              <img class="vector-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-14.svg" />
            </div>
            <div class="overlap-4">
              <div class="overlap-group-3">
                <div class="text-wrapper-23">დინდგელი</div>
                <div class="text-wrapper-19">თაფლი</div>
                <img class="rectangle-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/rectangle-2597.png" />
              </div>
              <img class="polygon-5" src="https://c.animaapp.com/mfiag7em2rpOne/img/polygon-1.svg" />
            </div>
            <div class="text-wrapper-15">გულა</div>
            <div class="text-wrapper-17">10.0 ლ</div>
          </div>
        </div>
        <div class="group-5">
          <div class="overlap-group-2">
            <div class="div-2">
              <img class="vector-4" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-12.svg" />
            </div>
            <div class="div-3">
              <img class="vector-5" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-5.svg" />
              <img class="vector-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-14.svg" />
            </div>
            <div class="overlap-7">
              <div class="overlap-group-3">
                <div class="text-wrapper-24">ცვილი</div>
                <div class="text-wrapper-19">თაფლი</div>
                <img class="rectangle-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/rectangle-2598.png" />
              </div>
              <img class="polygon-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/polygon-1.svg" />
            </div>
            <div class="text-wrapper-15">გულა</div>
            <div class="text-wrapper-17">25.0 ლ</div>
          </div>
        </div>
        <div class="v">
          <div class="overlap-8">
            <div class="overlap-9">
              <div class="rectangle-7"></div>
              <div class="text-wrapper-25">VilleGo</div>
              <div class="text-wrapper-26">ბლოგი</div>
              <div class="text-wrapper-27">ფერმერები</div>
              <div class="text-wrapper-28">ჩვენს შესახებ</div>
              <div class="text-wrapper-29">კონტაქტი</div>
              <div class="rectangle-8"></div>
              <img class="vector-11" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-7.svg" />
              <div class="text-wrapper-30">ძებნა</div>
              <div class="text-wrapper-31">რუკა</div>
              <img class="image" src="https://c.animaapp.com/mfiag7em2rpOne/img/-------.png" />
              <img class="vector-12" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-11.svg" />
              <img class="vector-13" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-15.svg" />
              <img class="vector-14" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-8.svg" />
              <img class="plus-circle" src="https://c.animaapp.com/mfiag7em2rpOne/img/plus-circle---1441-.svg" />
              <img class="ellipse" src="https://c.animaapp.com/mfiag7em2rpOne/img/ellipse-3981.png" />
            </div>
            <img class="group-6" src="https://c.animaapp.com/mfiag7em2rpOne/img/group-1859.png" />
          </div>
        </div>
        <div class="v-2">
          <div class="overlap-10">
            <div class="overlap-11">
              <img class="line" src="https://c.animaapp.com/mfiag7em2rpOne/img/line-7.svg" />
              <div class="generic-phone-mock">
                <div class="overlap-group-4">
                  <img class="speaker-camera" src="https://c.animaapp.com/mfiag7em2rpOne/img/speaker---camera.png" />
                  <img class="frame" src="https://c.animaapp.com/mfiag7em2rpOne/img/frame.png" />
                  <img
                    class="screen-mask-put"
                    src="https://c.animaapp.com/mfiag7em2rpOne/img/screen-mask--put-design-here-.png"
                  />
                </div>
              </div>
              <div class="mobile-app-store">
                <img class="microsoft" src="https://c.animaapp.com/mfiag7em2rpOne/img/microsoft.svg" />
                <img class="get-it-from" src="https://c.animaapp.com/mfiag7em2rpOne/img/get-it-from.svg" />
                <div class="microsoft-logo">
                  <div class="rectangle-9"></div>
                  <div class="rectangle-10"></div>
                  <div class="rectangle-11"></div>
                  <div class="rectangle-12"></div>
                </div>
              </div>
              <div class="mobile-app-store-2">
                <img class="app-store" src="https://c.animaapp.com/mfiag7em2rpOne/img/app-store.svg" />
                <img class="download-on-the" src="https://c.animaapp.com/mfiag7em2rpOne/img/download-on-the.svg" />
                <img class="apple-logo" src="https://c.animaapp.com/mfiag7em2rpOne/img/apple-logo.svg" />
              </div>
              <div class="mobile-app-store-3">
                <img class="google-play" src="https://c.animaapp.com/mfiag7em2rpOne/img/google-play.svg" />
                <img class="get-it-on" src="https://c.animaapp.com/mfiag7em2rpOne/img/get-it-on.svg" />
                <div class="google-play-logo"></div>
              </div>
              <img class="image-2" src="https://c.animaapp.com/mfiag7em2rpOne/img/image-103.png" />
              <div class="ville-go-wrapper">
                <p class="ville-go">
                  <span class="text-wrapper-32">ჩამოტვირთე </span> <span class="text-wrapper-33">VilleGo</span>
                </p>
              </div>
            </div>
            <img class="profile" src="https://c.animaapp.com/mfiag7em2rpOne/img/profile.png" />
            <div class="text-wrapper-34">დახმარება</div>
            <div class="text-wrapper-35">ხშირად დასმული კითხვები</div>
            <div class="text-wrapper-36">ანონიმური უკუკავშირი</div>
            <div class="text-wrapper-37">ინფორმაცია</div>
            <div class="text-wrapper-38">გაყიდვის პირობები</div>
            <div class="text-wrapper-39">წესები და პირობები</div>
            <div class="text-wrapper-40">მომხმარებელი</div>
            <div class="text-wrapper-41">რეგისტრაცია</div>
            <div class="text-wrapper-42">მომხმარებლის გვერდი</div>
            <p class="p">
              <span class="text-wrapper-33">VilleGo</span>
              <span class="text-wrapper-43">&nbsp;</span>
              <span class="text-wrapper-44">ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე!</span>
            </p>
            <div class="group-7">
              <img class="group-8" src="https://c.animaapp.com/mfiag7em2rpOne/img/group-234.png" />
              <div class="text-wrapper-45">555 88 88 88</div>
            </div>
            <div class="group-9">
              <div class="text-wrapper-46">მიცკევიჩის N25;</div>
              <img class="group-10" src="https://c.animaapp.com/mfiag7em2rpOne/img/group-246.png" />
            </div>
            <div class="group-11">
              <img class="subtract" src="https://c.animaapp.com/mfiag7em2rpOne/img/subtract.svg" />
              <div class="text-wrapper-47">VilleGoLLC@gmail.com</div>
            </div>
            <div class="text-wrapper-48">კონტაქტი:</div>
          </div>
          <img class="vector-15" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-9.svg" />
          <div class="overlap-12">
            <p class="element-villego-LLC">
              <span class="text-wrapper-49">@ 2025 Villego.LLC</span>
              <span class="text-wrapper-50">&nbsp;</span>
              <span class="text-wrapper-51">ყველა უფლება დაცულია</span>
            </p>
            <div class="text-wrapper-52">საქართველო</div>
          </div>
          <div class="text-wrapper-53">დახმარების გვერდი</div>
          <div class="text-wrapper-54">ჩვენს შესახებ</div>
          <div class="text-wrapper-55">დაბრუნების პოლიტიკა</div>
          <div class="text-wrapper-56">კონფიდენციალურობის პოლიტიკა</div>
          <div class="text-wrapper-57">ფავორიტები</div>
          <div class="text-wrapper-58">კალათა</div>
          <img class="vector-16" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-4.svg" />
          <img class="d" src="https://c.animaapp.com/mfiag7em2rpOne/img/d.svg" />
          <div class="group-12">
            <img class="vector-17" src="https://c.animaapp.com/mfiag7em2rpOne/img/vector-10.svg" />
          </div>
          <img class="image-3" src="https://c.animaapp.com/mfiag7em2rpOne/img/------.png" />
          <img class="image-4" src="https://c.animaapp.com/mfiag7em2rpOne/img/----------------.png" />
          <img class="image-5" src="https://c.animaapp.com/mfiag7em2rpOne/img/----------.png" />
        </div>
      </div>
    </div>
    <script src="../js/honeyscript.js"></script>
  </body>
</html>
