<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/loginglobals.css" />
    <link rel="stylesheet" href="../css/loginstyle.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap">
          <div class="text-wrapper">_________________________</div>
          <div class="view">
            <div class="overlap-group" id="loginButton"><div class="text-wrapper-2">შესვლა</div></div>
          </div>
        </div>
        <div class="text-wrapper-3">ან შედი</div>
        <p class="p">
          <span class="span">არ ხარ დარეგისტრირებული? გააკეთე </span> <span class="text-wrapper-4">რეგისტრაცია</span>
        </p>
        <div class="group-wrapper" id="googleLogin">
          <div class="group">
            <div class="text-wrapper-5">Google</div>
            <img class="img" src="https://c.animaapp.com/mfi7mocmH7J7Y7/img/group-1704.png" />
          </div>
        </div>
        <div class="div-wrapper" id="facebookLogin">
          <div class="group-2">
            <div class="text-wrapper-6">Facebook</div>
            <img class="icons" src="https://c.animaapp.com/mfi7mocmH7J7Y7/img/icons.png" />
          </div>
        </div>
        <div class="overlap-wrapper" id="backButton">
          <div class="overlap-2"><div class="text-wrapper-7">უკან დაბრუნება</div></div>
        </div>
        <div class="view-2">
          <div class="overlap-3">
            <div class="text-wrapper-8">_________________________</div>
            <div class="text-wrapper-9">შესვლა</div>
            <div class="text-wrapper-10">VilleGo</div>
          </div>
        <div class="overlap-4">
          <div class="text-wrapper-11">Password</div>
          <img class="vector" src="https://c.animaapp.com/mfi7mocmH7J7Y7/img/vector-1.svg" />
          <input type="password" class="password-input" placeholder="" id="passwordInput" />
        </div>
        <div class="overlap-5">
          <img class="vector-2" src="https://c.animaapp.com/mfi7mocmH7J7Y7/img/vector.svg" />
          <div class="text-wrapper-12">Email</div>
          <input type="email" class="email-input" placeholder="" id="emailInput" />
        </div>
          <div class="text-wrapper-13">დამიმახსოვრე</div>
          <img class="group-3" src="https://c.animaapp.com/mfi7mocmH7J7Y7/img/group-1703.png" id="rememberMe" />
        </div>
        <img class="group-4" src="https://c.animaapp.com/mfi7mocmH7J7Y7/img/group-1859.png" id="languageToggle" />
      </div>
    </div>
    <script src="../js/loginscript.js"></script>
  </body>
</html>
