<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/mapglobals.css" />
    <link rel="stylesheet" href="../css/mapstyle.css" />
  </head>
  <body>
    <div class="screen">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="image" src="https://c.animaapp.com/mfi7uq1icN9dib/img/----.png" />
          <img class="img" src="https://c.animaapp.com/mfi7uq1icN9dib/img/-----1.png" />
          <div class="view"></div>
          <div class="element" data-farm="რაისი">
            <div class="overlap-group">
              <img class="ellipse" src="https://c.animaapp.com/mfi7uq1icN9dib/img/ellipse-3939.png" />
              <div class="text-wrapper">ფერმა ,,რაისი"</div>
              <div class="div-wrapper"><p class="div">სოფელი გომბორი, კაიკაცელის ქუჩა N2</p></div>
              <div class="overlap-group-2">
                <div class="text-wrapper-2">რძის პროდუქტი</div>
                <div class="text-wrapper-2">რძის პროდუქტი</div>
              </div>
              <div class="overlap-2"><div class="text-wrapper-3">SUPER VIP</div></div>
              <img class="vector heart-icon" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector.svg" />
              <img class="vector-2 share-icon" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector-1.svg" />
            </div>
          </div>
          <div class="overlap-group-wrapper" data-farm="გლამური">
            <div class="overlap-group">
              <img class="ellipse" src="https://c.animaapp.com/mfi7uq1icN9dib/img/ellipse-3939.png" />
              <div class="text-wrapper">ფერმა ,,გლამური"</div>
              <div class="div-wrapper"><p class="div">სოფელი გომბორი, კაიკაცელის ქუჩა N2</p></div>
              <div class="overlap-group-2">
                <div class="text-wrapper-2">რძის პროდუქტი</div>
                <div class="text-wrapper-2">რძის პროდუქტი</div>
              </div>
              <div class="overlap-2"><div class="text-wrapper-3">VIP</div></div>
              <img class="vector heart-icon" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector.svg" />
              <img class="vector-2 share-icon" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector-1.svg" />
            </div>
          </div>
          <div class="element-2" data-farm="დოქდოქი">
            <div class="overlap-group">
              <img class="ellipse" src="https://c.animaapp.com/mfi7uq1icN9dib/img/ellipse-3939.png" />
              <div class="text-wrapper">ფერმა ,,დოქდოქი"</div>
              <div class="div-wrapper"><p class="div">სოფელი გომბორი, კაიკაცელის ქუჩა N2</p></div>
              <div class="overlap-group-2">
                <div class="text-wrapper-2">რძის პროდუქტი</div>
                <div class="text-wrapper-2">რძის პროდუქტი</div>
              </div>
              <div class="overlap-2"><div class="text-wrapper-3">SUPER VIP</div></div>
              <img class="vector heart-icon" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector.svg" />
              <img class="vector-2 share-icon" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector-1.svg" />
            </div>
          </div>
          <div class="element-3" data-farm="დრიმი">
            <div class="overlap-group">
              <img class="ellipse" src="https://c.animaapp.com/mfi7uq1icN9dib/img/ellipse-3939.png" />
              <div class="text-wrapper">ფერმა ,,დრიმი"</div>
              <div class="div-wrapper"><p class="div">სოფელი გომბორი, კაიკაცელის ქუჩა N2</p></div>
              <div class="overlap-group-2">
                <div class="text-wrapper-2">რძის პროდუქტი</div>
                <div class="text-wrapper-2">რძის პროდუქტი</div>
              </div>
              <div class="overlap-2"><div class="text-wrapper-3">SUPER VIP</div></div>
              <img class="vector heart-icon" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector.svg" />
              <img class="vector-2 share-icon" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector-1.svg" />
            </div>
          </div>
          <div class="element-4" data-farm="ნინოწმინდა">
            <div class="overlap-group">
              <img class="ellipse" src="https://c.animaapp.com/mfi7uq1icN9dib/img/ellipse-3939.png" />
              <div class="text-wrapper">ფერმა ,,ნინოწმინდა"</div>
              <div class="div-wrapper"><p class="div">სოფელი გომბორი, კაიკაცელის ქუჩა N2</p></div>
              <div class="overlap-group-2">
                <div class="text-wrapper-2">რძის პროდუქტი</div>
                <div class="text-wrapper-2">რძის პროდუქტი</div>
              </div>
              <div class="overlap-2"><div class="text-wrapper-3">VIP +</div></div>
              <img class="vector heart-icon" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector.svg" />
              <img class="vector-2 share-icon" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector-1.svg" />
            </div>
          </div>
          <div class="v">
            <div class="overlap-3">
              <div class="overlap-4">
                <div class="rectangle"></div>
                <a class="text-wrapper-4">VilleGo</a>
                <a class="text-wrapper-5 nav-link" href="../templates/blog.html" data-page="blog">ბლოგი<a>
                <a class="text-wrapper-6 nav-link" href="../templates/farmers.html" data-page="farmers">ფერმერები</a>
                <a class="text-wrapper-7 nav-link" href="../templates/aboutus.html" data-page="about">ჩვენს შესახებ</a>
                <a class="text-wrapper-8 nav-link" href="../templates/aboutus.html" data-page="contact">კონტაქტი</a>
                <div class="rectangle-2">
                  <input type="text" class="search-input" placeholder="ძებნა..." />
                </div>
                <img class="vector-3 search-icon" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector-10.svg" />
                <a class="text-wrapper-10 nav-link" href="../templates/map.html" data-page="map">რუკა</a>
                <img class="image-2" src="https://c.animaapp.com/mfi7uq1icN9dib/img/-------.png" />
                <img class="vector-4" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector-13.svg" />
                <img class="vector-5" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector-9.svg" />
                <img class="vector-6" src="https://c.animaapp.com/mfi7uq1icN9dib/img/vector-7.svg" />
                <img class="plus-circle add-farm-btn" src="https://c.animaapp.com/mfi7uq1icN9dib/img/plus-circle---1441-.svg" />
                <img class="ellipse-2 profile-btn" src="https://c.animaapp.com/mfi7uq1icN9dib/img/ellipse-3981.png" />
              </div>
              <img class="group" src="https://c.animaapp.com/mfi7uq1icN9dib/img/group-1859.png" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for farm details -->
    <div id="farmModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modalTitle">Farm Details</h2>
        <div id="modalBody">
          <p>Loading farm information...</p>
        </div>
      </div>
    </div>

    <!-- Notification -->
    <div id="notification" class="notification">
      <span id="notificationText"></span>
    </div>

    <script src="../js/mapscript.js"></script>
  </body>
</html>
