
    <div class="rectangle"></div>
          <img class="ellipse" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/ellipse-3943.png" />
          <div class="text-wrapper">ფერმა ,,ჯეჯილი”</div>
          <div class="div"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <p class="p">სოფელი გომბორი, კაიკაცელის ქუჩა N2</p>
          <div class="text-wrapper-2">რძის პროდუქტი</div>
          <div class="text-wrapper-3">SUPER VIP</div>
          <div class="text-wrapper-2">რძის პროდუქტი</div>
          <img class="vector" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector.svg" />
          <img class="img" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-1.svg" />
          <div class="rectangle-4"></div>
          <img class="ellipse-2" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/ellipse-3943.png" />
          <div class="text-wrapper-4">ფერმა ,,ლანუ”</div>
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="rectangle-7"></div>
          <p class="text-wrapper-5">სოფელი გომბორი, კაიკაცელის ქუჩა N2</p>
          <div class="text-wrapper-6">რძის პროდუქტი</div>
          <div class="text-wrapper-7">SUPER VIP</div>
          <div class="text-wrapper-6">რძის პროდუქტი</div>
          <img class="vector-2" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector.svg" />
          <img class="vector-3" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-1.svg" />
          <div class="rectangle-8"></div>
          <img class="ellipse-3" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/ellipse-3943.png" />
          <div class="text-wrapper-8">ფერმა ,,აზნაურთა”</div>
          <div class="rectangle-9"></div>
          <div class="rectangle-10"></div>
          <div class="rectangle-11"></div>
          <p class="text-wrapper-9">სოფელი გომბორი, კაიკაცელის ქუჩა N2</p>
          <div class="text-wrapper-10">რძის პროდუქტი</div>
          <div class="text-wrapper-11">SUPER VIP</div>
          <div class="text-wrapper-10">რძის პროდუქტი</div>
          <img class="vector-4" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector.svg" />
          <img class="vector-5" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-1.svg" />
          <div class="rectangle-12"></div>
          <img class="ellipse-4" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/ellipse-3943.png" />
          <div class="text-wrapper-12">ფერმა ,,რაისი”</div>
          <div class="rectangle-13"></div>
          <div class="rectangle-14"></div>
          <div class="rectangle-15"></div>
          <p class="text-wrapper-13">სოფელი გომბორი, კაიკაცელის ქუჩა N2</p>
          <div class="text-wrapper-14">რძის პროდუქტი</div>
          <div class="text-wrapper-15">SUPER VIP</div>
          <div class="text-wrapper-14">რძის პროდუქტი</div>
          <img class="vector-6" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector.svg" />
          <img class="vector-7" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-1.svg" />
          <div class="rectangle-16"></div>
          <img class="ellipse-5" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/ellipse-3943.png" />
          <div class="text-wrapper-16">ფერმა ,,რიკი”</div>
          <div class="rectangle-17"></div>
          <div class="rectangle-18"></div>
          <div class="rectangle-19"></div>
          <p class="text-wrapper-17">სოფელი გომბორი, კაიკაცელის ქუჩა N2</p>
          <div class="text-wrapper-18">რძის პროდუქტი</div>
          <div class="text-wrapper-19">VIP +</div>
          <div class="text-wrapper-18">რძის პროდუქტი</div>
          <img class="vector-8" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector.svg" />
          <img class="vector-9" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-1.svg" />
          <div class="rectangle-20"></div>
          <img class="ellipse-6" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/ellipse-3943.png" />
          <div class="text-wrapper-20">ფერმა ,,რაისი”</div>
          <img class="rectangle-21" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/rectangle-2306.png" />
          <div class="rectangle-22"></div>
          <div class="view">
            <div class="overlap-group"><p class="text-wrapper-21">სოფელი გომბორი, კაიკაცელის ქუჩა N2</p></div>
          </div>
          <div class="text-wrapper-22">SUPER VIP</div>
          <div class="overlap-group-wrapper">
            <div class="div-wrapper"><div class="text-wrapper-23">რძის პროდუქტი</div></div>
          </div>
          <div class="view-2">
            <div class="div-wrapper"><div class="text-wrapper-24">თაფლი</div></div>
          </div>
          <img class="vector-10" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector.svg" />
          <img class="vector-11" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-1.svg" />
          <div class="text-wrapper-25">პროდუქტები</div>
          <div class="rectangle-23"></div>
          <div class="view-3">
            <div class="overlap-2"><div class="text-wrapper-26">იხილეთ სრულიად</div></div>
          </div>
          <div class="view-4">
            <div class="overlap-3">
              <div class="text-wrapper-27">კონტაქტი:</div>
              <img class="group" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/group-234.png" />
              <div class="text-wrapper-28">555 88 88 88</div>
              <img class="subtract" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/subtract.svg" />
              <div class="text-wrapper-29">raisiLLC@gmail.com</div>
            </div>
          </div>
          <div class="element">
            <div class="overlap-4">
              <div class="vector-wrapper">
                <img class="vector-12" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-11.svg" />
              </div>
              <div class="overlap-group-2">
                <img class="vector-13" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-3.svg" />
                <img class="vector-14" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-15.svg" />
              </div>
              <div class="overlap-5">
                <div class="overlap-group-3">
                  <div class="element-2">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
                  <div class="text-wrapper-30">თაფლი</div>
                  <img class="rectangle-24" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/rectangle-2577-3.png" />
                </div>
                <img class="polygon" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/polygon-2.svg" />
              </div>
              <div class="text-wrapper-31">რაისი</div>
              <div class="text-wrapper-32">20.0 ლ</div>
            </div>
          </div>
          <div class="element-3">
            <div class="overlap-4">
              <div class="vector-wrapper">
                <img class="vector-12" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-11.svg" />
              </div>
              <div class="overlap-group-2">
                <img class="vector-13" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-3.svg" />
                <img class="vector-14" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-15.svg" />
              </div>
              <div class="overlap-5">
                <div class="overlap-group-3">
                  <div class="element-2">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
                  <div class="text-wrapper-30">თაფლი</div>
                  <img class="rectangle-24" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/rectangle-2577-3.png" />
                </div>
                <img class="polygon" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/polygon-2.svg" />
              </div>
              <div class="text-wrapper-31">რაისი</div>
              <div class="text-wrapper-32">20.0 ლ</div>
            </div>
          </div>
          <div class="element-4">
            <div class="overlap-4">
              <div class="vector-wrapper">
                <img class="vector-12" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-11.svg" />
              </div>
              <div class="overlap-group-2">
                <img class="vector-13" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-3.svg" />
                <img class="vector-14" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-15.svg" />
              </div>
              <div class="overlap-5">
                <div class="overlap-group-3">
                  <div class="element-2">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
                  <div class="text-wrapper-30">თაფლი</div>
                  <img class="rectangle-24" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/rectangle-2577-3.png" />
                </div>
                <img class="polygon" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/polygon-2.svg" />
              </div>
              <div class="text-wrapper-31">რაისი</div>
              <div class="text-wrapper-32">20.0 ლ</div>
            </div>
          </div>
          <div class="element-5">
            <div class="overlap-4">
              <div class="vector-wrapper">
                <img class="vector-12" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-11.svg" />
              </div>
              <div class="overlap-group-2">
                <img class="vector-13" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-3.svg" />
                <img class="vector-14" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-15.svg" />
              </div>
              <div class="overlap-5">
                <div class="overlap-group-3">
                  <div class="element-2">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
                  <div class="text-wrapper-30">თაფლი</div>
                  <img class="rectangle-24" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/rectangle-2577-3.png" />
                </div>
                <img class="polygon" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/polygon-2.svg" />
              </div>
              <div class="text-wrapper-31">რაისი</div>
              <div class="text-wrapper-32">20.0 ლ</div>
            </div>
          </div>
          <div class="element-6">
            <div class="overlap-4">
              <div class="vector-wrapper">
                <img class="vector-12" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-11.svg" />
              </div>
              <div class="overlap-group-2">
                <img class="vector-13" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-3.svg" />
                <img class="vector-14" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-15.svg" />
              </div>
              <div class="overlap-5">
                <div class="overlap-group-3">
                  <div class="element-2">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
                  <div class="text-wrapper-30">თაფლი</div>
                  <img class="rectangle-24" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/rectangle-2577-3.png" />
                </div>
                <img class="polygon" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/polygon-2.svg" />
              </div>
              <div class="text-wrapper-31">რაისი</div>
              <div class="text-wrapper-32">20.0 ლ</div>
            </div>
          </div>
          <div class="v">
            <div class="overlap-6">
              <div class="overlap-7">
                <div class="rectangle-25"></div>
                <a class="text-wrapper-33" href="../../index.html">VilleGo</a>
                <a class="text-wrapper-34" href="../templates/blog.html">ბლოგი</a>
                <a class="text-wrapper-35" href="../templates/farmers.html">ფერმერები</a>
                <a class="text-wrapper-36" href="../templates/aboutus.html">ჩვენს შესახებ</a>
                <a class="text-wrapper-37" href="../templates/aboutus.html">კონტაქტი</a>
                <div class="rectangle-26"></div>
                <img class="vector-15" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-9.svg" />
                <div class="text-wrapper-38">ძებნა</div>
                <a class="text-wrapper-39"  href="../templates/map.html">რუკა</a>
                <img class="image-2" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/-------.png" />
                <img class="vector-16" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-7.svg" />
                <img class="vector-17" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-4.svg" />
                <img class="vector-18" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/vector-8.svg" />
                <img class="plus-circle" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/plus-circle---1441-.svg" />
                <img class="ellipse-7" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/ellipse-3981.png" />
              </div>
              <img class="group-2" src="https://c.animaapp.com/mfi8raj1Y0ebrk/img/group-1859.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>