<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/mapfiltersglobals.css" />
    <link rel="stylesheet" href="../css/mapfiltersstyle.css" />
   <script src="../js/mapfiltersscript.js" defer></script>
  </head>
  <body>
    <div class="screen">
      <div class="overlap-wrapper">
        <div class="overlap">
          <img class="image" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/---------.png" />
          <div class="view"></div>
          <div class="rectangle"></div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group"><div class="text-wrapper">უკან დაბრუნება</div></div>
          </div>
          <div class="div">კატეგორიები</div>
          <div class="group">
            <div class="overlap-2">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <img class="fruit-food-apple" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/fruit-food-apple-1.svg" />
              <div class="text-wrapper-2">ხილი</div>
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
            </div>
          </div>
          <div class="div-wrapper">
            <div class="overlap-2">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <img class="fruit-food-apple-2" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/fruit-food-apple-11.svg" />
              <div class="text-wrapper-3">ბუნებრივი წვენები</div>
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
            </div>
          </div>
          <div class="group-2">
            <div class="overlap-2">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <img class="meat-on-the-bone" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/meat-on-the-bone-1-1.svg" />
              <div class="text-wrapper-4">ხორცეული</div>
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
            </div>
          </div>
          <div class="group-3">
            <div class="overlap-2">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <img class="eggs" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/eggs.png" />
              <div class="text-wrapper-5">კვერცხი</div>
            </div>
          </div>
          <div class="group-4">
            <div class="overlap-2">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse-2" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <img class="potato" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/potato.png" />
              <div class="text-wrapper-6">ბოსტნეული</div>
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
            </div>
          </div>
          <div class="group-5">
            <div class="overlap-2">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <div class="text-wrapper-7">თევზი</div>
              <img class="fish" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/fish.png" />
            </div>
          </div>
          <div class="group-6">
            <div class="overlap-2">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse-2" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <div class="text-wrapper-8">რძის ნაწარმი</div>
              <img class="milk-products" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/milk-products-1.svg" />
            </div>
          </div>
          <div class="group-7">
            <div class="overlap-3">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540.svg" />
              <img class="rectangle-2" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse-3" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <div class="text-wrapper-9">მარცვლეული და პარკოსნები</div>
              <img class="cashew" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/cashew.png" />
            </div>
          </div>
          <div class="group-8">
            <div class="overlap-3">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540.svg" />
              <img class="rectangle-2" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse-4" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <div class="text-wrapper-10">თესლები და ნერგები</div>
              <img class="seed" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/seed.png" />
            </div>
          </div>
          <div class="group-9">
            <div class="overlap-4">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540.svg" />
              <img class="rectangle-2" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse-3" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <div class="text-wrapper-11">თაფლი და ფუტკრის პროდუქტები</div>
              <img class="vector" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/vector.svg" />
            </div>
          </div>
          <div class="group-10">
            <div class="overlap-3">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540.svg" />
              <img class="rectangle-2" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse-4" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <div class="text-wrapper-12">ღვინო და ალკოჰოლური სასმელები</div>
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="wine" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/wine.svg" />
            </div>
          </div>
          <div class="group-11">
            <div class="overlap-5">
              <img class="rectangle-3" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540.svg" />
              <img class="rectangle-4" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse-5" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <img class="vector-2" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/vector-2.svg" />
              <div class="text-wrapper-13">ყვავილები</div>
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="vector-3" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/vector-1.svg" />
              <img class="vector-4" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/vector-4.svg" />
            </div>
          </div>
          <div class="group-12">
            <div class="overlap-2">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <div class="text-wrapper-14">ჩირი</div>
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img
                class="dried-food-fruit"
                src="https://c.animaapp.com/mfi8dfw57mUhdt/img/dried-food-fruit-orient-svgrepo-com-1.svg"
              />
            </div>
          </div>
          <div class="group-13">
            <div class="overlap-2">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <div class="text-wrapper-15">მწნილი</div>
              <img
                class="canned-food-camping"
                src="https://c.animaapp.com/mfi8dfw57mUhdt/img/canned-food-camping-1.svg"
              />
            </div>
          </div>
          <div class="group-14">
            <div class="overlap-3">
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540.svg" />
              <img class="rectangle-2" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse-3" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <img class="jam" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/jam-2-1.svg" />
              <div class="text-wrapper-16">მურაბა</div>
            </div>
          </div>
          <div class="group-15">
            <div class="overlap-6">
              <img class="rectangle-5" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540.svg" />
              <img class="rectangle-2" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="ellipse-3" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3954.svg" />
              <div class="text-wrapper-17">რეცეპტები</div>
              <img class="img" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/rectangle-2540--stroke-.svg" />
              <img class="recipes-book" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/recipes-book-1.svg" />
            </div>
          </div>
          <div class="v">
            <div class="overlap-7">
              <div class="overlap-8">
                <div class="rectangle-6"></div>
                <div class="text-wrapper-18">VilleGo</div>
                <div class="text-wrapper-19">ბლოგი</div>
                <div class="text-wrapper-20">ფერმერები</div>
                <div class="text-wrapper-21">ჩვენს შესახებ</div>
                <div class="text-wrapper-22">კონტაქტი</div>
                <div class="rectangle-7"></div>
                <img class="vector-5" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/vector-6.svg" />
                <div class="text-wrapper-23">ძებნა</div>
                <div class="text-wrapper-24">რუკა</div>
                <img class="image-2" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/-------.png" />
                <img class="vector-6" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/vector-3.svg" />
                <img class="vector-7" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/vector-5.svg" />
                <img class="vector-8" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/vector-7.svg" />
                <img class="plus-circle" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/plus-circle---1441-.svg" />
                <img class="ellipse-6" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/ellipse-3981.png" />
              </div>
              <img class="group-16" src="https://c.animaapp.com/mfi8dfw57mUhdt/img/group-1859.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
