<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>VilleGo - ფერმერიდან მომხმარებლამდე</title>
    <meta name="description" content="VilleGo - ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე!" />
    <link rel="stylesheet" href="../css/messagesglobals.css" />
    <link rel="stylesheet" href="../css/messagesstyle.css" />
    <script src="../js/messagesscript.js" defer></script>
  </head>
  <body>
    <div class="screen">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="text-wrapper">VilleGo</div>
          <div class="view"></div>
          <div class="rectangle"></div>
          <div class="div"></div>
          <img class="img" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/rectangle-683.png" />
          <div class="rectangle-2"></div>
          <div class="text-wrapper-2">GIORGI787:</div>
          <p class="p">GIORGI787: ძალიან მაგარი ხილი გაქვთ, მსურს შეძენა!</p>
          <div class="text-wrapper-3">GIORGI787: კეთილი, ნახვამდის!</div>
          <p class="text-wrapper-4">მე: კიბატონო ეხლავე გამოვაგზავნი კურიერს</p>
          <div class="text-wrapper-5">მე: ნახვამდის!</div>
          <div class="text-wrapper-6">განათავსე <br />თქვენი<br />რეკლამა <br />აქ</div>
          <img class="rectangle-3" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/rectangle-2262.png" />
          <div class="TEXT-BAR"></div>
          <div class="TEXT-BAR-2"></div>
          <div class="text-wrapper-7">მე: გამოვაგზავნე კურიერი</div>
          <img class="vector" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/vector-8.svg" />
          <div class="overlap-group-wrapper">
            <div class="overlap-group"><div class="text-wrapper-8">უკან დაბრუნება</div></div>
          </div>
          <img class="vector-2" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/vector-2.svg" />
          <div class="v">
            <div class="overlap-2">
              <div class="overlap-3">
                <div class="rectangle-4"></div>
                <a class="text-wrapper-9" href="../../index.html">VilleGo</a>
                <a class="text-wrapper-10" href="../templates/blog.html">ბლოგი</a>
                <a class="text-wrapper-11" href="../templates/farmers.html">ფერმერები</a>
                <a class="text-wrapper-12" href="../templates/aboutus.html">ჩვენს შესახებ</a>
                <a class="text-wrapper-13" href="../templates/aboutus.html">კონტაქტი</a>
                <div class="rectangle-5"></div>
                <img class="vector-3" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/vector.svg" />
                <div class="text-wrapper-14">ძებნა</div>
                <a class="text-wrapper-15" href="../templates/map.html">რუკა</a>
                <img class="image" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/-------.png" />
                <img class="vector-4" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/vector-6.svg" />
                <img class="vector-5" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/vector-7.svg" />
                <img class="vector-6" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/vector-1.svg" />
                <img class="plus-circle" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/plus-circle---1441-.svg" />
                <img class="ellipse" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/ellipse-3981.png" />
              </div>
              <img class="group" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/group-1859.png" />
            </div>
          </div>
          <div class="v-2">
            <div class="overlap-4">
              <div class="overlap-5">
                <img class="line" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/line-7.svg" />
                <div class="generic-phone-mock">
                  <div class="overlap-group-2">
                    <img class="speaker-camera" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/speaker---camera.png" />
                    <img class="frame" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/frame.png" />
                    <img
                      class="screen-mask-put"
                      src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/screen-mask--put-design-here-.png"
                    />
                  </div>
                </div>
                <div class="mobile-app-store">
                  <img class="microsoft" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/microsoft.svg" />
                  <img class="get-it-from" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/get-it-from.svg" />
                  <div class="microsoft-logo">
                    <div class="rectangle-6"></div>
                    <div class="rectangle-7"></div>
                    <div class="rectangle-8"></div>
                    <div class="rectangle-9"></div>
                  </div>
                </div>
                <div class="mobile-app-store-2">
                  <img class="app-store" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/app-store.svg" />
                  <img class="download-on-the" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/download-on-the.svg" />
                  <img class="apple-logo" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/apple-logo.svg" />
                </div>
                <div class="mobile-app-store-3">
                  <img class="google-play" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/google-play.svg" />
                  <img class="get-it-on" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/get-it-on.svg" />
                  <div class="google-play-logo"></div>
                </div>
                <img class="image-2" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/image-103.png" />
                <div class="ville-go-wrapper">
                  <p class="ville-go">
                    <span class="span">ჩამოტვირთე </span> <span class="text-wrapper-16">VilleGo</span>
                  </p>
                </div>
              </div>
              <img class="profile" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/profile.png" />
              <a class="text-wrapper-17" href="../templates/help.html">დახმარება</a>
              <div class="text-wrapper-18">ხშირად დასმული კითხვები</div>
              <div class="text-wrapper-19">ანონიმური უკუკავშირი</div>
              <div class="text-wrapper-20">ინფორმაცია</div>
              <div class="text-wrapper-21">გაყიდვის პირობები</div>
              <div class="text-wrapper-22">წესები და პირობები</div>
              <a class="text-wrapper-23" href="../templates/personalpage.html">მომხმარებელი</a>
              <a class="text-wrapper-24" href="../templates/signup.html">რეგისტრაცია</a>
              <a class="text-wrapper-25" href="../templates/personalpage.html">მომხმარებლის გვერდი</a>
              <p class="ville-go-2">
                <span class="text-wrapper-16">VilleGo</span>
                <span class="text-wrapper-26">&nbsp;</span>
                <span class="text-wrapper-27">ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე!</span>
              </p>
              <div class="group-2">
                <img class="group-3" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/group-234.png" />
                <div class="text-wrapper-28">555 88 88 88</div>
              </div>
              <div class="group-4">
                <div class="text-wrapper-29">მიცკევიჩის N25;</div>
                <img class="group-5" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/group-246.png" />
              </div>
              <div class="group-6">
                <img class="subtract" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/subtract-1.svg" />
                <div class="text-wrapper-30">VilleGoLLC@gmail.com</div>
              </div>
              <div class="text-wrapper-31">კონტაქტი:</div>
            </div>
            <img class="vector-7" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/vector-3.svg" />
            <div class="overlap-6">
              <p class="element-villego-LLC">
                <span class="text-wrapper-32">@ 2025 Villego.LLC</span>
                <span class="text-wrapper-33">&nbsp;</span>
                <span class="text-wrapper-34">ყველა უფლება დაცულია</span>
              </p>
              <div class="text-wrapper-35">საქართველო</div>
            </div>
            <a class="text-wrapper-36" href="../templates/help.html">დახმარების გვერდი</a>
            <a class="text-wrapper-37">ჩვენს შესახებ</div>
            <div class="text-wrapper-38">დაბრუნების პოლიტიკა</div>
            <div class="text-wrapper-39">კონფიდენციალურობის პოლიტიკა</div>
            <a class="text-wrapper-40" href="../templates/favorites.html">ფავორიტები</a>
            <a class="text-wrapper-41" href="../templates/cart.html">კალათა</a>
            <img class="vector-8" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/vector-4.svg" />
            <img class="d" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/d.svg" />
            <div class="vector-wrapper">
              <img class="vector-9" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/vector-5.svg" />
            </div>
            <img class="image-3" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/------.png" />
            <img class="image-4" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/----------------.png" />
            <img class="image-5" src="https://c.animaapp.com/mfi6k7g8YvyNxq/img/----------.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
