<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/messageglobals.css" />
    <link rel="stylesheet" href="../css/messagestyle.css" />
    <title>VilleGo - ფერმერიდან მომხმარებლამდე</title>
  </head>
  <body>
    <div class="screen">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="view"></div>
          <div class="rectangle" onclick="openChat('GIORGI787')"></div>
          <img class="img" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/rectangle-683.png" onclick="viewProfile('GIORGI787')" />
          <img class="rectangle-2" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/rectangle-697.png" onclick="viewProfile('vaja22')" />
          <img class="rectangle-3" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/rectangle-687.png" onclick="viewProfile('david05')" />
          <img class="rectangle-4" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/rectangle-689.png" onclick="viewProfile('mari2009')" />
          <img class="rectangle-5" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/rectangle-691.png" onclick="viewProfile('luka')" />
          <img class="rectangle-6" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/rectangle-693.png" onclick="viewProfile('liliana777')" />
          <img class="rectangle-7" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/rectangle-695.png" onclick="viewProfile('ucha457')" />
          <img class="rectangle-8" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/rectangle-697.png" onclick="viewProfile('lika787')" />
          <div class="div" onclick="showAdvertisement()"></div>
          <p class="text-wrapper" onclick="openChat('GIORGI787')">GIORGI787: გამარჯობა ვარ დაინტერესებული კიტრის შეძენით</p>
          <div class="text-wrapper-2" onclick="showAdvertisement()">განათავსე <br />თქვენი<br />რეკლამა <br />აქ</div>
          <div class="text-wrapper-3" onclick="readMore('GIORGI787')">სრულიად&gt;</div>
          <div class="rectangle-9" onclick="openChat('vaja22')"></div>
          <p class="p" onclick="openChat('vaja22')">vaja22: გამარჯობა ვარ დაინტერესებული კიტრის შეძენით</p>
          <div class="text-wrapper-4" onclick="readMore('vaja22')">სრულიად&gt;</div>
          <div class="rectangle-10" onclick="openChat('david05')"></div>
          <p class="text-wrapper-5" onclick="openChat('david05')">david05: გამარჯობა ვარ დაინტერესებული კიტრის შეძენით</p>
          <div class="text-wrapper-6" onclick="readMore('david05')">სრულიად&gt;</div>
          <div class="rectangle-11" onclick="openChat('mari2009')"></div>
          <p class="text-wrapper-7" onclick="openChat('mari2009')">mari2009: გამარჯობა ვარ დაინტერესებული კიტრის შეძენით</p>
          <div class="text-wrapper-8" onclick="readMore('mari2009')">სრულიად&gt;</div>
          <div class="rectangle-12" onclick="openChat('luka')"></div>
          <p class="text-wrapper-9" onclick="openChat('luka')">luka: გამარჯობა ვარ დაინტერესებული კიტრის შეძენით</p>
          <div class="text-wrapper-10" onclick="readMore('luka')">სრულიად&gt;</div>
          <div class="rectangle-13" onclick="openChat('liliana777')"></div>
          <p class="text-wrapper-11" onclick="openChat('liliana777')">liliana777: გამარჯობა ვარ დაინტერესებული კიტრის შეძენით</p>
          <div class="text-wrapper-12" onclick="readMore('liliana777')">სრულიად&gt;</div>
          <div class="rectangle-14" onclick="openChat('ucha457')"></div>
          <p class="text-wrapper-13" onclick="openChat('ucha457')">ucha457: გამარჯობა ვარ დაინტერესებული კიტრის შეძენით</p>
          <div class="text-wrapper-14" onclick="readMore('ucha457')">სრულიად&gt;</div>
          <div class="rectangle-15" onclick="openChat('lika787')"></div>
          <p class="text-wrapper-15" onclick="openChat('lika787')">lika787: გამარჯობა ვარ დაინტერესებული კიტრის შეძენით</p>
          <div class="text-wrapper-16" onclick="readMore('lika787')">სრულიად&gt;</div>
          <div class="v">
            <div class="overlap-group">
              <div class="overlap-group-2">
                <div class="rectangle-16"></div>
                <div class="text-wrapper-17" onclick="goHome()">VilleGo</div>
                <div class="text-wrapper-18" onclick="navigateTo('blog')">ბლოგი</div>
                <div class="text-wrapper-19" onclick="navigateTo('farmers')">ფერმერები</div>
                <div class="text-wrapper-20" onclick="navigateTo('about')">ჩვენს შესახებ</div>
                <div class="text-wrapper-21" onclick="navigateTo('contact')">კონტაქტი</div>
                <div class="rectangle-17" onclick="performSearch()"></div>
                <img class="vector" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/vector-4.svg" onclick="performSearch()" />
                <div class="text-wrapper-22" onclick="performSearch()">ძებნა</div>
                <div class="text-wrapper-23" onclick="navigateTo('map')">რუკა</div>
                <img class="image" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/-------.png" onclick="goHome()" />
                <img class="vector-2" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/vector-6.svg" onclick="showNotifications()" />
                <img class="vector-3" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/vector-2.svg" onclick="showMessages()" />
                <img class="vector-4" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/vector-3.svg" onclick="showFavorites()" />
                <img class="plus-circle" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/plus-circle---1441-.svg" onclick="createPost()" />
                <img class="ellipse" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/ellipse-3981.png" onclick="showProfile()" />
              </div>
              <img class="group" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/group-1859.png" />
            </div>
          </div>
          <div class="v-2">
            <div class="overlap-2">
              <div class="overlap-3">
                <img class="line" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/line-7.svg" />
                <div class="generic-phone-mock" onclick="downloadApp()">
                  <div class="overlap-group-3">
                    <img class="speaker-camera" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/speaker---camera.png" />
                    <img class="frame" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/frame.png" />
                    <img
                      class="screen-mask-put"
                      src="https://c.animaapp.com/mfi66fhpFDPyBi/img/screen-mask--put-design-here-.png"
                    />
                  </div>
                </div>
                <div class="mobile-app-store" onclick="downloadApp('microsoft')">
                  <img class="microsoft" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/microsoft.svg" />
                  <img class="get-it-from" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/get-it-from.svg" />
                  <div class="microsoft-logo">
                    <div class="rectangle-18"></div>
                    <div class="rectangle-19"></div>
                    <div class="rectangle-20"></div>
                    <div class="rectangle-21"></div>
                  </div>
                </div>
                <div class="mobile-app-store-2" onclick="downloadApp('apple')">
                  <img class="app-store" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/app-store.svg" />
                  <img class="download-on-the" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/download-on-the.svg" />
                  <img class="apple-logo" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/apple-logo.svg" />
                </div>
                <div class="mobile-app-store-3" onclick="downloadApp('google')">
                  <img class="google-play" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/google-play.svg" />
                  <img class="get-it-on" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/get-it-on.svg" />
                  <div class="google-play-logo"></div>
                </div>
                <img class="image-2" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/image-103.png" onclick="downloadApp()" />
                <div class="ville-go-wrapper">
                  <p class="ville-go">
                    <span class="span">ჩამოტვირთე </span> <span class="text-wrapper-24">VilleGo</span>
                  </p>
                </div>
              </div>
              <img class="profile" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/profile.png" onclick="showCompanyInfo()" />
              <div class="text-wrapper-25" onclick="navigateTo('help')">დახმარება</div>
              <div class="text-wrapper-26" onclick="navigateTo('faq')">ხშირად დასმული კითხვები</div>
              <div class="text-wrapper-27" onclick="navigateTo('feedback')">ანონიმური უკუკავშირი</div>
              <div class="text-wrapper-28" onclick="navigateTo('info')">ინფორმაცია</div>
              <div class  ="text-wrapper-29" onclick="navigateTo('terms')">გაყიდვის პირობები</div>
              <div class="text-wrapper-30" onclick="navigateTo('conditions')">წესები და პირობები</div>
              <div class="text-wrapper-31" onclick="navigateTo('user')">მომხმარებელი</div>
              <div class="text-wrapper-32" onclick="navigateTo('register')">რეგისტრაცია</div>
              <div class="text-wrapper-33" onclick="navigateTo('userpage')">მომხმარებლის გვერდი</div>
              <p class="ville-go-2">
                <span class="text-wrapper-24">VilleGo</span>
                <span class="text-wrapper-34">&nbsp;</span>
                <span class="text-wrapper-35">ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე!</span>
              </p>
              <div class="group-2">
                <img class="group-3" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/group-234.png" />
                <div class="text-wrapper-36" onclick="callPhone()">555 88 88 88</div>
              </div>
              <div class="group-4">
                <div class="text-wrapper-37" onclick="showLocation()">მიცკევიჩის N25;</div>
                <img class="group-5" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/group-246.png" />
              </div>
              <div class="group-6">
                <img class="subtract" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/subtract-1.svg" />
                <div class="text-wrapper-38" onclick="sendEmail()">VilleGoLLC@gmail.com</div>
              </div>
              <div class="text-wrapper-39">კონტაქტი:</div>
            </div>
            <img class="vector-5" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/vector.svg" />
            <div class="overlap-4">
              <p class="element-villego-LLC">
                <span class="text-wrapper-40">@ 2025 Villego.LLC</span>
                <span class="text-wrapper-41">&nbsp;</span>
                <span class="text-wrapper-42">ყველა უფლება დაცულია</span>
              </p>
              <div class="text-wrapper-43">საქართველო</div>
            </div>
            <div class="text-wrapper-44" onclick="navigateTo('helppage')">დახმარების გვერდი</div>
            <div class="text-wrapper-45" onclick="navigateTo('aboutpage')">ჩვენს შესახებ</div>
            <div class="text-wrapper-46" onclick="navigateTo('returnpolicy')">დაბრუნების პოლიტიკა</div>
            <div class="text-wrapper-47" onclick="navigateTo('privacy')">კონფიდენციალურობის პოლიტიკა</div>
            <div class="text-wrapper-48" onclick="showFavorites()">ფავორიტები</div>
            <div class="text-wrapper-49" onclick="showCart()">კალათა</div>
            <img class="vector-6" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/vector-1.svg" onclick="openSocialMedia('facebook')" />
            <img class="d" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/d.svg" onclick="openSocialMedia('discord')" />
            <div class="vector-wrapper">
              <img class="vector-7" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/vector-5.svg" onclick="openSocialMedia('twitter')" />
            </div>
            <img class="image-3" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/------.png" onclick="openSocialMedia('linkedin')" />
            <img class="image-4" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/----------------.png" onclick="openSocialMedia('instagram')" />
            <img class="image-5" src="https://c.animaapp.com/mfi66fhpFDPyBi/img/----------.png" onclick="openSocialMedia('youtube')" />
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for user interactions -->
    <div id="userModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modalTitle">მომხმარებელი</h2>
        <div id="modalContent">
          <div class="loading"></div>
        </div>
      </div>
    </div>

    <!-- Notification container -->
    <div id="notification" class="notification"></div>

    <script src="../js/messagescript.js"></script>
  </body>
</html>
