<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/payglobals.css" />
    <link rel="stylesheet" href="../css/paystyle.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="view">
          <div class="overlap-group" id="continue-btn"><div class="text-wrapper">გაგრძელება</div></div>
        </div>
        <div class="view-2">
          <div class="overlap payment-option" data-method="mastercard">
            <div class="text-wrapper-2">Pay Mastercard</div>
            <img class="group" src="https://c.animaapp.com/mfi7pi1zWjvbRI/img/group-1714.png" />
          </div>
          <div class="overlap-2 payment-option" data-method="paypal">
            <div class="text-wrapper-2">Pay with PayPal</div>
            <img class="img" src="https://c.animaapp.com/mfi7pi1zWjvbRI/img/group-1712.png" />
          </div>
          <div class="overlap-3 payment-option" data-method="applepay">
            <div class="text-wrapper-3">Pay with Apple Pay</div>
            <div class="vector-wrapper">
              <img class="vector" src="https://c.animaapp.com/mfi7pi1zWjvbRI/img/vector-1.svg" />
            </div>
          </div>
          <div class="overlap-4 payment-option" data-method="bog">
            <div class="text-wrapper-4">Pay with BOG</div>
            <img class="BGEO-l" src="https://c.animaapp.com/mfi7pi1zWjvbRI/img/bgeo-l-9c80f039-1.png" />
          </div>
          <div class="overlap-5 payment-option" data-method="visa">
            <div class="text-wrapper-5">Pay with visa</div>
            <img class="group-2" src="https://c.animaapp.com/mfi7pi1zWjvbRI/img/group-1713.png" />
          </div>
          <div class="overlap-6">
            <div class="text-wrapper-6">აირჩიე გადახდის მეთოდი</div>
            <div class="text-wrapper-7">VilleGo</div>
          </div>
          <p class="p">Preferred method with secure transactions</p>
        </div>
        <div class="overlap-wrapper">
          <div class="div-wrapper" id="back-btn"><div class="text-wrapper-8">უკან დაბრუნება</div></div>
        </div>
        <img class="group-3" src="https://c.animaapp.com/mfi7pi1zWjvbRI/img/group-1859.png" />
      </div>
    </div>
    <script src="../js/payscript.js"></script>
  </body>
</html>
