<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/searchedglobals.css" />
    <link rel="stylesheet" href="../css/searchedstyle.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="text-wrapper">VilleGo</div>
        <div class="overlap"><div class="text-wrapper-2">Search</div></div>
        <div class="overlap-group">
          <img class="vector" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector.svg" />
          <img class="img" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-5.svg" />
          <img class="profile" src="https://c.animaapp.com/mfi9i5jbczcImu/img/profile.png" />
        </div>
        <div class="overlap-2">
          <div class="div-wrapper"><div class="text-wrapper-3">თაფლი</div></div>
          <div class="overlap-3">
            <div class="view">
              <div class="overlap-group-2">
                <div class="apple">
                  <img class="apple-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/apple.png" />
                </div>
                <div class="text-wrapper-4">ხილი და კენკრა</div>
                <div class="potato">
                  <img class="potato-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/potato.png" />
                </div>
                <div class="text-wrapper-5">ბოსტნეული და მწვანილი</div>
                <div class="pork"><img class="pork-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/pork.png" /></div>
                <div class="fish"><img class="fish-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/fish.png" /></div>
                <div class="text-wrapper-6">თევზეული</div>
                <img class="milk-carton" src="https://c.animaapp.com/mfi9i5jbczcImu/img/milk-carton.png" />
                <div class="text-wrapper-7">რძის პროდუქტები</div>
                <div class="eggs"><img class="eggs-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/eggs.png" /></div>
                <div class="text-wrapper-8">კვერცხი</div>
                <div class="cashew">
                  <img class="cashew-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/cashew.png" />
                </div>
                <div class="text-wrapper-9">მარცვლეული და <br />პარკოსნები</div>
                <img class="seed" src="https://c.animaapp.com/mfi9i5jbczcImu/img/seed.png" />
                <img class="layer" src="https://c.animaapp.com/mfi9i5jbczcImu/img/layer-2.png" />
                <img class="page" src="https://c.animaapp.com/mfi9i5jbczcImu/img/page-1.png" />
                <img class="group" src="https://c.animaapp.com/mfi9i5jbczcImu/img/group.png" />
                <div class="overlap-4">
                  <img class="vector-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-16.svg" />
                  <img class="vector-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-13.svg" />
                  <img class="vector-4" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-12.svg" />
                </div>
                <img class="vector-5" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <img class="vector-6" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <img class="vector-7" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <img class="vector-8" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <img class="vector-9" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <img class="vector-10" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <img class="vector-11" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <img class="vector-12" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <img class="vector-13" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <img class="vector-14" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <img class="vector-15" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <img class="vector-16" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-4.svg" />
                <div class="text-wrapper-10">ბუნებრივი წვენები</div>
                <div class="text-wrapper-11">თაფლი და ფუტკრის <br />პროდუქტები</div>
                <div class="text-wrapper-12">ხორცისა და ფრინველის <br />პროდუქტები</div>
                <div class="text-wrapper-13">ღვინო და ალკოჰოლური <br />სასმელები</div>
                <div class="text-wrapper-14">ყვავილები</div>
                <div class="text-wrapper-15">თესლები და ნერგები</div>
              </div>
            </div>
            <div class="v">
              <div class="overlap-5">
                <div class="overlap-6">
                  <div class="rectangle"></div>
                  <div class="text-wrapper-16">VilleGo</div>
                  <div class="text-wrapper-17">ბლოგი</div>
                  <div class="text-wrapper-18">ფერმერები</div>
                  <div class="text-wrapper-19">ჩვენს შესახებ</div>
                  <div class="text-wrapper-20">კონტაქტი</div>
                  <div class="rectangle-2"></div>
                  <img class="vector-17" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-5.svg" />
                  <div class="text-wrapper-21">ძებნა</div>
                  <div class="text-wrapper-22">რუკა</div>
                  <img class="image" src="https://c.animaapp.com/mfi9i5jbczcImu/img/-------.png" />
                  <img class="vector-18" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-51.svg" />
                  <img class="vector-19" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-46.svg" />
                  <img class="vector-20" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-52.svg" />
                  <img class="plus-circle" src="https://c.animaapp.com/mfi9i5jbczcImu/img/plus-circle---1441-.svg" />
                  <img class="ellipse" src="https://c.animaapp.com/mfi9i5jbczcImu/img/ellipse-3981.png" />
                </div>
                <img class="group-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/group-1859.png" />
              </div>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-7">
              <div class="vector-wrapper">
                <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
              </div>
              <div class="overlap-group-3">
                <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
                <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
              </div>
              <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
              <div class="text-wrapper-23">გულა</div>
              <div class="text-wrapper-24">თაფლი</div>
              <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
              <div class="text-wrapper-25">20.0 ლ</div>
              <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-7">
              <div class="vector-wrapper">
                <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
              </div>
              <div class="overlap-group-3">
                <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
                <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
              </div>
              <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
              <div class="text-wrapper-23">გულა</div>
              <div class="text-wrapper-24">თაფლი</div>
              <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
              <div class="text-wrapper-25">20.0 ლ</div>
              <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
            </div>
          </div>
          <div class="group-3">
            <div class="overlap-7">
              <div class="vector-wrapper">
                <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
              </div>
              <div class="overlap-group-3">
                <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
                <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
              </div>
              <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
              <div class="text-wrapper-23">გულა</div>
              <div class="text-wrapper-24">თაფლი</div>
              <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
              <div class="text-wrapper-25">20.0 ლ</div>
              <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
            </div>
          </div>
          <div class="group-4">
            <div class="overlap-8">
              <div class="text-wrapper-26">დალაგება ფასის ზრდით</div>
              <img class="line" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-18.svg" />
              <img class="arrow" src="https://c.animaapp.com/mfi9i5jbczcImu/img/arrow-1.svg" />
            </div>
          </div>
        </div>
        <div class="overlap-9">
          <div class="rectangle-4"></div>
          <div class="ellipse-2"></div>
          <div class="ellipse-3"></div>
        </div>
        <div class="overlap-10">
          <div class="text-wrapper-27">ფასი</div>
          <div class="text-wrapper-28">მინ</div>
          <div class="text-wrapper-29">მაქს</div>
          <img class="line-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-18.svg" />
          <img class="line-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-18.svg" />
        </div>
        <div class="overlap-11">
          <div class="text-wrapper-30">ფასდაკლება</div>
          <img class="line-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-18.svg" />
          <img class="vector-24" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-2.svg" />
        </div>
        <div class="overlap-12">
          <div class="text-wrapper-31">რაოდენობა</div>
          <div class="text-wrapper-32">მინ</div>
          <div class="text-wrapper-33">მაქს</div>
          <div class="text-wrapper-34">კგ</div>
          <img class="line-4" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-12.svg" />
          <img class="line-5" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-18.svg" />
          <img class="line-6" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-18.svg" />
        </div>
        <div class="text-wrapper-35">ფასით გაფილტვრა</div>
        <div class="text-wrapper-36">1ლ-1000ლ</div>
        <div class="text-wrapper-37">1000ლ</div>
        <div class="overlap-13">
          <div class="rectangle-4"></div>
          <div class="ellipse-2"></div>
          <div class="ellipse-3"></div>
        </div>
        <div class="text-wrapper-38">რაოდენობა</div>
        <div class="text-wrapper-39">1-1000კგ</div>
        <div class="text-wrapper-40">1000კგ</div>
        <div class="text-wrapper-41">ლოკაცია</div>
        <div class="overlap-14">
          <div class="text-wrapper-30">რეგიონი</div>
          <img class="line-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-18.svg" />
          <img class="vector-24" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-2.svg" />
        </div>
        <div class="overlap-15">
          <div class="rectangle-5"></div>
          <div class="text-wrapper-30">სოფელი</div>
          <img class="line-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-18.svg" />
          <img class="vector-24" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-2.svg" />
        </div>
        <div class="overlap-16">
          <div class="rectangle-5"></div>
          <div class="text-wrapper-42">მწარმოებელი</div>
          <img class="line-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-18.svg" />
          <img class="vector-24" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-2.svg" />
        </div>
        <div class="overlap-17">
          <div class="rectangle-5"></div>
          <div class="text-wrapper-43">ხარისხი</div>
          <img class="line-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-18.svg" />
          <img class="vector-24" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-2.svg" />
        </div>
        <div class="text-wrapper-44">აირჩიე მწარმოებელი</div>
        <div class="text-wrapper-45">ხარისხის გაფილტვრა</div>
        <img class="rectangle-6" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2536.png" />
        <img class="rectangle-7" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2538.png" />
        <img class="rectangle-8" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2537.png" />
        <div class="group-5">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-6">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-7">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-8">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-9">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-10">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-11">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-12">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-13">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-14">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-15">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-16">
          <div class="overlap-7">
            <div class="vector-wrapper">
              <img class="vector-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-1.svg" />
            </div>
            <div class="overlap-group-3">
              <img class="vector-22" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-6.svg" />
              <img class="vector-23" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-14.svg" />
            </div>
            <div class="element">აკაციის თაფლი&nbsp;&nbsp;1 კგ</div>
            <div class="text-wrapper-23">გულა</div>
            <div class="text-wrapper-24">თაფლი</div>
            <img class="rectangle-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/rectangle-2362-11.png" />
            <div class="text-wrapper-25">20.0 ლ</div>
            <img class="polygon" src="https://c.animaapp.com/mfi9i5jbczcImu/img/polygon-1.svg" />
          </div>
        </div>
        <div class="group-17">
          <div class="text-wrapper-46">1</div>
          <div class="text-wrapper-47">2</div>
          <div class="text-wrapper-48">3</div>
          <div class="fill-with-left-arrow">
            <div class="img-wrapper">
              <img class="vector-25" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-47.svg" />
            </div>
          </div>
          <div class="fill-with-right">
            <div class="img-wrapper">
              <img class="vector-26" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-53.svg" />
            </div>
          </div>
        </div>
        <div class="v-2">
          <div class="overlap-18">
            <div class="overlap-19">
              <img class="line-7" src="https://c.animaapp.com/mfi9i5jbczcImu/img/line-7.svg" />
              <div class="generic-phone-mock">
                <div class="overlap-group-4">
                  <img class="speaker-camera" src="https://c.animaapp.com/mfi9i5jbczcImu/img/speaker---camera.png" />
                  <img class="frame" src="https://c.animaapp.com/mfi9i5jbczcImu/img/frame.png" />
                  <img
                    class="screen-mask-put"
                    src="https://c.animaapp.com/mfi9i5jbczcImu/img/screen-mask--put-design-here-.png"
                  />
                </div>
              </div>
              <div class="mobile-app-store">
                <img class="microsoft" src="https://c.animaapp.com/mfi9i5jbczcImu/img/microsoft.svg" />
                <img class="get-it-from" src="https://c.animaapp.com/mfi9i5jbczcImu/img/get-it-from.svg" />
                <div class="microsoft-logo">
                  <div class="rectangle-9"></div>
                  <div class="rectangle-10"></div>
                  <div class="rectangle-11"></div>
                  <div class="rectangle-12"></div>
                </div>
              </div>
              <div class="mobile-app-store-2">
                <img class="app-store" src="https://c.animaapp.com/mfi9i5jbczcImu/img/app-store.svg" />
                <img class="download-on-the" src="https://c.animaapp.com/mfi9i5jbczcImu/img/download-on-the.svg" />
                <img class="apple-logo" src="https://c.animaapp.com/mfi9i5jbczcImu/img/apple-logo.svg" />
              </div>
              <div class="mobile-app-store-3">
                <img class="google-play" src="https://c.animaapp.com/mfi9i5jbczcImu/img/google-play.svg" />
                <img class="get-it-on" src="https://c.animaapp.com/mfi9i5jbczcImu/img/get-it-on.svg" />
                <div class="google-play-logo"></div>
              </div>
              <img class="image-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/image-103.png" />
              <div class="ville-go-wrapper">
                <p class="ville-go">
                  <span class="span">ჩამოტვირთე </span> <span class="text-wrapper-49">VilleGo</span>
                </p>
              </div>
            </div>
            <img class="profile-2" src="https://c.animaapp.com/mfi9i5jbczcImu/img/profile-1.png" />
            <div class="text-wrapper-50">დახმარება</div>
            <div class="text-wrapper-51">ხშირად დასმული კითხვები</div>
            <div class="text-wrapper-52">ანონიმური უკუკავშირი</div>
            <div class="text-wrapper-53">ინფორმაცია</div>
            <div class="text-wrapper-54">გაყიდვის პირობები</div>
            <div class="text-wrapper-55">წესები და პირობები</div>
            <div class="text-wrapper-56">მომხმარებელი</div>
            <div class="text-wrapper-57">რეგისტრაცია</div>
            <div class="text-wrapper-58">მომხმარებლის გვერდი</div>
            <p class="p">
              <span class="text-wrapper-49">VilleGo</span>
              <span class="text-wrapper-59">&nbsp;</span>
              <span class="text-wrapper-60">ფერმერიდან მომხმარებლამდე, შუამავალის გარეშე!</span>
            </p>
            <div class="group-18">
              <img class="group-19" src="https://c.animaapp.com/mfi9i5jbczcImu/img/group-234.png" />
              <div class="text-wrapper-61">555 88 88 88</div>
            </div>
            <div class="group-20">
              <div class="text-wrapper-62">მიცკევიჩის N25;</div>
              <img class="group-21" src="https://c.animaapp.com/mfi9i5jbczcImu/img/group-246.png" />
            </div>
            <div class="group-22">
              <img class="subtract" src="https://c.animaapp.com/mfi9i5jbczcImu/img/subtract-1.svg" />
              <div class="text-wrapper-63">VilleGoLLC@gmail.com</div>
            </div>
            <div class="text-wrapper-64">კონტაქტი:</div>
          </div>
          <img class="vector-27" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-40.svg" />
          <div class="overlap-20">
            <p class="element-villego-LLC">
              <span class="text-wrapper-65">@ 2025 Villego.LLC</span>
              <span class="text-wrapper-66">&nbsp;</span>
              <span class="text-wrapper-67">ყველა უფლება დაცულია</span>
            </p>
            <div class="text-wrapper-68">საქართველო</div>
          </div>
          <div class="text-wrapper-69">დახმარების გვერდი</div>
          <div class="text-wrapper-70">ჩვენს შესახებ</div>
          <div class="text-wrapper-71">დაბრუნების პოლიტიკა</div>
          <div class="text-wrapper-72">კონფიდენციალურობის პოლიტიკა</div>
          <div class="text-wrapper-73">ფავორიტები</div>
          <div class="text-wrapper-74">კალათა</div>
          <img class="vector-28" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-54.svg" />
          <img class="d" src="https://c.animaapp.com/mfi9i5jbczcImu/img/d.svg" />
          <div class="group-23">
            <img class="vector-29" src="https://c.animaapp.com/mfi9i5jbczcImu/img/vector-55.svg" />
          </div>
          <img class="image-3" src="https://c.animaapp.com/mfi9i5jbczcImu/img/------.png" />
          <img class="image-4" src="https://c.animaapp.com/mfi9i5jbczcImu/img/----------------.png" />
          <img class="image-5" src="https://c.animaapp.com/mfi9i5jbczcImu/img/----------.png" />
        </div>
      </div>
    </div>
  </body>
</html>
