<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/signupglobals.css" />
    <link rel="stylesheet" href="../css/signupstyle.css" />
    <title>VilleGo Registration</title>
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap">
          <div class="text-wrapper">_________________________</div>
          <div class="view">
            <div class="overlap-group" id="registerBtn">
              <div class="text-wrapper-2">რეგისტრაცია</div>
            </div>
          </div>
        </div>
        <div class="text-wrapper-3">ან დარეგისტრირდი</div>
        <p class="log-in">
          <span class="span">თუ უკვე დარეგისტრირებული ხარ მაშინ გააკეთე </span>
          <span class="text-wrapper-4" id="loginLink">LogIn</span>
        </p>
        <div class="group-wrapper" id="googleBtn">
          <div class="group">
            <div class="text-wrapper-5">Google</div>
            <img class="img" src="https://c.animaapp.com/mfi7gnsnhyZrim/img/group-1704.png" />
          </div>
        </div>
        <div class="view-wrapper" id="facebookBtn">
          <div class="view-2">
            <div class="text-wrapper-6">Facebook</div>
            <img class="icons" src="https://c.animaapp.com/mfi7gnsnhyZrim/img/icons.png" />
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="div-wrapper" id="backBtn">
            <div class="text-wrapper-7">უკან დაბრუნება</div>
          </div>
        </div>
        <div class="view-3">
          <div class="view-4">
            <div class="text-wrapper-8">დამიმახსოვრე</div>
            <input type="checkbox" class="checkbox group-2" id="rememberMe" />
            <div class="text-wrapper-9">ვეთანხმები კონფიდენციალურობის პოლიტიკას</div>
            <input type="checkbox" class="checkbox group-3" id="privacyPolicy" />
            <div class="text-wrapper-10">ვეთანხმები პლატფორმის გამოყენების წესებს</div>
            <input type="checkbox" class="checkbox group-4" id="termsOfUse" />
          </div>
          <div class="overlap-2">
            <div class="text-wrapper-11">_________________________</div>
            <div class="text-wrapper-12">რეგისტრაცია</div>
          </div>
          <div class="overlap-3">
            <div class="text-wrapper-13">Password</div>
            <img class="vector" src="https://c.animaapp.com/mfi7gnsnhyZrim/img/vector.svg" />
            <input type="password" class="form-input" id="password" placeholder="Enter password" />
          </div>
          <div class="overlap-4">
            <img class="vector-2" src="https://c.animaapp.com/mfi7gnsnhyZrim/img/vector-2.svg" />
            <div class="text-wrapper-14">Email</div>
            <input type="email" class="form-input" id="email" placeholder="Enter email" />
          </div>
          <div class="overlap-5">
            <div class="text-wrapper-15">RE-Type Password</div>
            <img class="vector" src="https://c.animaapp.com/mfi7gnsnhyZrim/img/vector.svg" />
            <input type="password" class="form-input" id="confirmPassword" placeholder="Confirm password" />
          </div>
          <div class="overlap-6">
            <div class="text-wrapper-16">Username</div>
            <input type="text" class="form-input" id="username" placeholder="Enter username" />
          </div>
          <div class="overlap-7">
            <div class="text-wrapper-17">City</div>
            <input type="text" class="form-input" id="city" placeholder="Enter city" />
          </div>
          <div class="overlap-8">
            <div class="text-wrapper-17">Phone number</div>
            <input type="tel" class="form-input" id="phone" placeholder="Enter phone number" />
          </div>
          <div class="text-wrapper-18">VilleGo</div>
        </div>
        <img class="group-5" src="https://c.animaapp.com/mfi7gnsnhyZrim/img/group-1859.png" />
      </div>
    </div>
    <script src="../js/singupscript.js"></script>
  </body>
</html>
